# Wrangle NHANES

Pulling raw NHANES dietary recall data for 2017-2020 and 2021-2023 waves, joining with FPED, demographics, and eventually calculating HEI scores to make our nice clean single DF to work with for clustering and analyses.

## Set Working Directory

When you open a notebook, the default working directory will be the folder that notebook is in. We want it to be the top (root) directory of the project, `ds1_nhanes`.

First, we need to mount our Google Drive, which contains the `ds1_nhanes` folder. The following chunk will mount the drive (if in Google Colab) and set the working directory to the root of the project folder. Note that this code chunk should be at the top of every notebook.

In [4]:
import os
import re

try:
  from google.colab import drive
  drive.mount('/content/drive')
  os.chdir('/content/drive/MyDrive/ds1_nhanes/')
except:
  from pathlib import Path
  if not re.search(r'ds1_nhanes$', str(os.getcwd())):
    os.chdir(Path(os.getcwd()).parent)

print(os.getcwd())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/.shortcut-targets-by-id/1-4PHX9XhMUWpi_lTsGHtTyz6s3O0u5a2/ds1_nhanes

Bingo bongo, we're good to go.

## Load Libraries and Data

In [5]:
import pandas as pd
import numpy as np
import sys

# If in colab, have to install pyreadstat
# If local, it is already installed
if 'google.colab' in sys.modules:
  !pip install pyreadstat
import pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.0 kB)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.17.0)
Downloading pyreadstat-1.2.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 39.2 MB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.8

The DR1IFF_L and DR2IFF_L datasets include daily food intake over two days for respondents identified by the SEQN or respondent sequence identifier. The surveys were conducted in waves and we aim to combine two waves of data survey responses from 2017-2020 and 2021-2023. Given the size of these datasets we tried to pull only the columns that are relevant for our analysis are read for both days and both years, however, usecols does not work on .XPT files.

In [17]:
# Read in the four datasets with specified columns
dr1_17 = pd.read_sas('data/raw/nhanes_2017_2020/P_DR1IFF.xpt')
dr2_17 = pd.read_sas('data/raw/nhanes_2017_2020/P_DR2IFF.xpt')
dr1_21 = pd.read_sas('data/raw/nhanes_2021_2023/DR1IFF_L.xpt')
dr2_21 = pd.read_sas('data/raw/nhanes_2021_2023/DR2IFF_L.xpt')

# Create a list of all the datasets
datasets = [dr1_21, dr2_21, dr1_17, dr2_17]

# Define the relevant columns for this analysis
relevant_cols = ['SEQN', # response_sequence, unique identifier for each respondent
                 'WTDR2D', # weight_day_2_dietary, the weighting factor given to
                 # the second day depending on how many days the respondents reported
                 'WTDR2DPP', # different name in 2017 - 2020 data
                 'DR1IGRMS', # grams, total grams of food consumed, labeled DR1GRMS or DR2GRMS
                 # based on which day it was reported
                 'DR2IGRMS', # labeled DR1GRMS or DR2GRMS based on which day it was reported
                 'DR1IFDCD', # usda_food_code, food identifier
                 'DR2IFDCD'] # labeled DR1GRMS or DR2GRMS based on which day it was reported
for dataset in datasets:
  dataset.drop(columns=[col for col in dataset.columns if col not in relevant_cols], inplace=True)

#Look up what columns are relevant and load only what is relevant, check class notes - LB
print(dr1_21.info())
print(dr2_21.info())
print(dr1_17.info())
print(dr2_17.info())
dr1_21.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100116 entries, 0 to 100115
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   SEQN      100116 non-null  float64
 1   WTDR2D    100116 non-null  float64
 2   DR1IFDCD  100116 non-null  float64
 3   DR1IGRMS  99787 non-null   float64
dtypes: float64(4)
memory usage: 3.1 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88032 entries, 0 to 88031
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      88032 non-null  float64
 1   WTDR2D    88032 non-null  float64
 2   DR2IFDCD  88032 non-null  float64
 3   DR2IGRMS  87778 non-null  float64
dtypes: float64(4)
memory usage: 2.7 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183910 entries, 0 to 183909
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   SEQN      183910 non-null  float64
 1   WTDR2DPP  183910 non-null  float64
 2   DR1IFDCD  183910 non-null  float64
 3   DR1IGRMS  182506 non-null  float64
dtypes: float64(4)
memory usage: 5.6 MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149495 entries, 0 to 149494
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   SEQN      149495 non-null  float64
 1   WTDR2DPP  149495 non-null  float64
 2   DR2IFDCD  149495 non-null  float64
 3   DR2IGRMS  148367 non-null  float64
dtypes: float64(4)
memory usage: 4.6 MB
None

       SEQN        WTDR2D    DR1IFDCD  DR1IGRMS
0  130378.0  70554.222162  94000100.0     120.0
1  130378.0  70554.222162  94000100.0     120.0
2  130378.0  70554.222162  92101000.0     300.0
3  130378.0  70554.222162  94000100.0     240.0
4  130378.0  70554.222162  83102000.0       4.9

## Explore Dietary Recall Data

Compare the dimensions of the df with the number of unique SEQN numbers (respondent ids)

In [18]:
# Compare rows to unique respondent IDs
# first get number of rows
rows = dr1_21.shape[0]
unique_seqns = dr1_21['SEQN'].nunique()
print(f"{rows} rows and {unique_seqns} unique SEQN numbers in DR1.")

100116 rows and 6751 unique SEQN numbers in DR1.

There are far more rows than unique respondents. This is because for each respondent, there is one row for each individual food they consumed.

Check out how many unique food codes there are:

In [19]:
n_codes = dr1_21['DR1IFDCD'].nunique()
print(f"There are {n_codes} unique food codes")

There are 3987 unique food codes

In [20]:
# Check SEQNs between dr1 and dr2

diff = set(dr1_17['SEQN']).difference(dr2_17['SEQN'])
print(f"{len(diff)} SEQNs missing from DR2 that were in DR1 in the 2017 - 2020 wave")
diff2 = set(dr2_17['SEQN']).difference(dr1_17['SEQN'])
print(f"{len(diff2)} SEQNs missing from DR1 that were in DR2 in the 2017 - 2020 wave")

diff = set(dr1_21['SEQN']).difference(dr2_21['SEQN'])
print(f"{len(diff)} SEQNs missing from DR2 that were in DR1 in the 2021 - 2023 wave")
diff2 = set(dr2_21['SEQN']).difference(dr1_21['SEQN'])
print(f"{len(diff2)} SEQNs missing from DR1 that were in DR2 in the 2021 - 2023 wave")

1804 SEQNs missing from DR2 that were in DR1 in the 2017 - 2020 wave
2 SEQNs missing from DR1 that were in DR2 in the 2017 - 2020 wave
873 SEQNs missing from DR2 that were in DR1 in the 2021 - 2023 wave
1 SEQNs missing from DR1 that were in DR2 in the 2021 - 2023 wave

For the 2017 - 2020 wave, there are 1804 respondants for day 1 that did not report in day 2, and two respondent who reported in day 2 but not day 1.

For the 2021 - 2023 wave, there are 873 respondants for day 1 that did not report in day 2, and one respondent who reported in day 2 but not day 1.  people when we join.

The two-day weights (WTDR2) was adjusted based on the day 1 weights (WTDR1) and further adjusting for additional non-response for the second recall, so we will drop the respondents that only respond in both days.

In [21]:
# JEANNINE ADDED
# Get a list of the missing SEQNs

# 2017-2020 wave
missing_from_dr2_17 = list(set(dr1_17['SEQN']).difference(dr2_17['SEQN']))
missing_from_dr1_17 = list(set(dr2_17['SEQN']).difference(dr1_17['SEQN']))

# 2021-2023 wave
missing_from_dr2_21 = list(set(dr1_21['SEQN']).difference(dr2_21['SEQN']))
missing_from_dr1_21 = list(set(dr2_21['SEQN']).difference(dr1_21['SEQN']))

# Print the lists of missing SEQN values
print("SEQNs missing from DR2 that were in DR1 in the 2017 - 2020 wave:", missing_from_dr2_17)
print("SEQNs missing from DR1 that were in DR2 in the 2017 - 2020 wave:", missing_from_dr1_17)
print("SEQNs missing from DR2 that were in DR1 in the 2021 - 2023 wave:", missing_from_dr2_21)
print("SEQNs missing from DR1 that were in DR2 in the 2021 - 2023 wave:", missing_from_dr1_21)

SEQNs missing from DR2 that were in DR1 in the 2017 - 2020 wave: [122881.0, 122886.0, 114695.0, 122889.0, 122894.0, 122904.0, 114713.0, 114715.0, 114718.0, 122910.0, 114725.0, 114726.0, 122919.0, 114730.0, 122926.0, 122934.0, 122944.0, 122946.0, 114757.0, 122951.0, 122956.0, 114781.0, 114793.0, 114795.0, 122990.0, 123009.0, 114828.0, 123021.0, 114845.0, 123037.0, 114848.0, 114850.0, 114851.0, 123043.0, 123048.0, 123053.0, 114864.0, 123056.0, 114871.0, 114872.0, 123065.0, 114877.0, 114890.0, 114893.0, 123098.0, 123101.0, 123104.0, 123107.0, 114923.0, 123116.0, 114926.0, 114932.0, 123125.0, 123129.0, 123130.0, 114944.0, 114951.0, 114954.0, 123150.0, 114964.0, 123161.0, 114972.0, 123172.0, 123174.0, 114983.0, 123177.0, 114999.0, 115001.0, 123201.0, 115013.0, 115014.0, 123206.0, 123208.0, 123213.0, 123219.0, 123223.0, 123224.0, 115036.0, 123229.0, 123231.0, 115040.0, 115045.0, 123242.0, 123248.0, 115057.0, 115058.0, 123249.0, 115065.0, 123258.0, 115070.0, 123263.0, 123264.0, 123271.0, 115091.0, 115094.0, 115098.0, 115101.0, 123298.0, 115108.0, 123302.0, 115122.0, 115129.0, 123326.0, 115135.0, 123332.0, 115145.0, 123343.0, 115154.0, 115158.0, 123351.0, 123359.0, 115169.0, 123364.0, 115186.0, 123386.0, 123391.0, 115200.0, 115201.0, 123394.0, 115209.0, 123401.0, 115213.0, 123409.0, 123413.0, 115223.0, 123427.0, 115242.0, 123438.0, 115250.0, 123442.0, 115253.0, 115255.0, 115262.0, 115273.0, 115275.0, 123473.0, 123478.0, 115289.0, 123481.0, 115292.0, 123489.0, 115298.0, 115302.0, 115311.0, 115314.0, 115315.0, 115318.0, 123513.0, 115328.0, 123520.0, 123523.0, 115334.0, 115335.0, 115346.0, 115362.0, 123557.0, 115371.0, 123567.0, 123577.0, 115386.0, 123579.0, 123582.0, 115391.0, 123585.0, 115394.0, 123589.0, 123596.0, 115409.0, 123603.0, 123606.0, 123617.0, 115435.0, 123628.0, 115437.0, 115438.0, 123629.0, 123636.0, 123637.0, 115446.0, 115453.0, 123646.0, 115456.0, 115457.0, 123651.0, 123652.0, 123658.0, 115470.0, 115473.0, 123670.0, 123678.0, 123687.0, 115500.0, 123699.0, 115512.0, 115522.0, 115545.0, 123737.0, 115551.0, 123744.0, 115556.0, 123751.0, 115569.0, 123761.0, 123762.0, 115573.0, 123765.0, 115584.0, 123778.0, 115592.0, 123788.0, 123789.0, 115603.0, 123813.0, 123817.0, 123824.0, 115642.0, 115651.0, 115656.0, 115657.0, 115658.0, 115659.0, 123850.0, 123854.0, 123857.0, 123859.0, 115668.0, 123862.0, 123864.0, 115674.0, 115680.0, 123875.0, 123880.0, 115690.0, 115691.0, 115692.0, 123882.0, 115695.0, 123888.0, 115697.0, 123890.0, 115710.0, 115723.0, 115724.0, 123920.0, 115734.0, 123929.0, 115738.0, 115743.0, 115744.0, 123935.0, 123936.0, 115750.0, 123948.0, 115757.0, 115761.0, 123954.0, 115764.0, 115766.0, 123959.0, 123972.0, 115782.0, 115790.0, 123982.0, 123998.0, 124000.0, 124013.0, 115829.0, 115830.0, 115835.0, 115840.0, 124032.0, 115872.0, 124064.0, 115880.0, 115892.0, 124084.0, 115895.0, 124087.0, 124089.0, 124094.0, 115903.0, 115905.0, 115906.0, 124097.0, 115910.0, 124103.0, 124104.0, 115919.0, 115920.0, 124116.0, 115926.0, 115928.0, 124125.0, 115940.0, 124132.0, 124134.0, 115943.0, 124139.0, 124140.0, 115959.0, 115964.0, 115965.0, 115966.0, 124162.0, 115973.0, 124169.0, 115989.0, 115992.0, 124186.0, 124188.0, 124189.0, 124191.0, 116001.0, 116009.0, 124201.0, 116012.0, 124210.0, 116020.0, 116023.0, 116026.0, 116030.0, 124222.0, 124223.0, 124225.0, 124228.0, 124238.0, 116050.0, 124245.0, 116054.0, 116058.0, 116059.0, 124250.0, 116061.0, 124254.0, 124260.0, 124261.0, 124264.0, 116074.0, 116082.0, 116096.0, 124288.0, 124290.0, 116099.0, 116100.0, 124294.0, 124298.0, 116108.0, 116110.0, 124302.0, 116113.0, 116116.0, 116118.0, 116120.0, 116121.0, 124316.0, 124317.0, 124320.0, 124324.0, 116136.0, 116140.0, 124343.0, 124354.0, 124363.0, 116176.0, 116181.0, 116184.0, 124378.0, 124383.0, 116199.0, 124395.0, 116211.0, 116214.0, 124410.0, 124411.0, 124412.0, 124431.0, 116252.0, 124447.0, 116258.0, 124455.0, 116266.0, 124460.0, 116281.0, 124476.0, 116285.0, 116288.0, 124481.0, 116291.0, 124488.0, 116300.0, 116310.0, 116315.0, 124520.0, 116335.0, 116337.0, 124529.0, 124530.0, 116340.0, 116350.0, 124553.0, 124555.0, 116369.0, 124562.0, 124566.0, 116375.0, 124567.0, 124569.0, 124572.0, 116384.0, 116390.0, 124585.0, 124587.0, 124591.0, 116400.0, 124602.0, 116414.0, 124606.0, 124607.0, 124609.0, 116422.0, 116423.0, 116425.0, 116434.0, 116437.0, 124629.0, 124630.0, 124631.0, 124644.0, 116461.0, 116462.0, 116464.0, 124656.0, 116466.0, 116468.0, 116472.0, 116473.0, 116486.0, 124680.0, 124686.0, 124687.0, 124688.0, 124690.0, 116499.0, 116511.0, 116515.0, 124711.0, 116526.0, 124719.0, 116528.0, 124724.0, 116537.0, 124729.0, 116539.0, 124730.0, 124743.0, 124747.0, 116562.0, 116564.0, 124757.0, 116570.0, 124768.0, 124769.0, 116583.0, 124776.0, 124781.0, 124784.0, 124788.0, 124789.0, 116598.0, 124793.0, 124801.0, 116614.0, 116615.0, 124817.0, 124821.0, 116631.0, 116660.0, 116673.0, 116679.0, 116681.0, 116696.0, 116698.0, 116699.0, 116703.0, 116704.0, 116731.0, 116735.0, 116768.0, 116771.0, 116783.0, 116789.0, 116804.0, 116813.0, 116823.0, 116831.0, 116838.0, 116845.0, 116852.0, 116854.0, 116855.0, 116864.0, 116884.0, 116888.0, 116912.0, 116913.0, 116914.0, 116917.0, 116920.0, 116924.0, 116941.0, 116942.0, 116946.0, 116951.0, 116970.0, 116972.0, 116985.0, 116990.0, 116996.0, 117001.0, 117019.0, 117027.0, 117037.0, 117043.0, 117044.0, 117046.0, 117061.0, 117070.0, 117085.0, 117086.0, 117108.0, 117118.0, 117130.0, 117134.0, 117147.0, 117149.0, 117151.0, 117155.0, 117165.0, 117167.0, 117210.0, 117212.0, 117214.0, 117219.0, 117224.0, 117234.0, 117253.0, 117274.0, 117278.0, 117279.0, 117291.0, 117292.0, 117294.0, 117299.0, 117301.0, 117303.0, 117315.0, 117339.0, 117360.0, 117363.0, 117374.0, 117378.0, 117384.0, 117390.0, 117391.0, 117394.0, 117406.0, 117408.0, 117411.0, 117412.0, 117415.0, 117425.0, 117434.0, 117439.0, 117454.0, 117461.0, 117464.0, 117468.0, 109280.0, 109296.0, 117495.0, 117496.0, 109306.0, 109307.0, 109309.0, 117515.0, 109330.0, 117535.0, 109358.0, 117551.0, 117560.0, 109377.0, 117569.0, 109380.0, 117573.0, 117575.0, 117586.0, 117591.0, 117592.0, 117595.0, 109409.0, 117604.0, 109413.0, 117607.0, 109424.0, 109425.0, 117617.0, 117622.0, 109434.0, 109441.0, 109442.0, 117633.0, 117634.0, 117637.0, 117650.0, 117653.0, 117658.0, 109478.0, 117670.0, 109481.0, 117674.0, 109487.0, 109491.0, 117686.0, 109501.0, 109504.0, 109505.0, 117698.0, 109507.0, 117703.0, 109512.0, 109513.0, 117725.0, 117733.0, 117734.0, 109547.0, 109560.0, 109563.0, 117757.0, 117760.0, 117762.0, 117766.0, 109583.0, 109590.0, 109596.0, 109614.0, 109618.0, 109628.0, 117827.0, 109636.0, 117829.0, 109648.0, 117841.0, 117847.0, 117851.0, 109660.0, 109662.0, 117855.0, 109665.0, 109666.0, 109667.0, 117865.0, 109675.0, 117870.0, 109679.0, 117871.0, 117878.0, 109703.0, 109711.0, 117906.0, 109717.0, 117909.0, 117919.0, 109728.0, 117929.0, 109739.0, 117934.0, 117937.0, 109749.0, 109753.0, 109768.0, 109769.0, 109773.0, 117972.0, 117979.0, 109795.0, 117991.0, 117993.0, 109803.0, 118000.0, 118004.0, 109822.0, 118026.0, 118032.0, 109842.0, 109844.0, 109848.0, 109853.0, 118046.0, 118050.0, 118056.0, 118057.0, 109877.0, 118069.0, 118074.0, 109884.0, 118076.0, 118079.0, 118082.0, 109893.0, 109895.0, 109896.0, 118093.0, 118101.0, 118102.0, 109919.0, 118116.0, 109927.0, 118130.0, 109939.0, 109944.0, 118142.0, 118147.0, 109957.0, 118152.0, 109967.0, 109968.0, 118175.0, 109984.0, 118179.0, 118184.0, 118185.0, 118194.0, 110005.0, 118199.0, 110019.0, 110028.0, 110038.0, 110040.0, 118232.0, 118234.0, 118235.0, 110044.0, 110047.0, 118254.0, 110065.0, 118262.0, 118273.0, 118275.0, 118276.0, 118280.0, 110091.0, 118283.0, 110098.0, 118290.0, 118297.0, 118300.0, 118320.0, 118321.0, 118323.0, 110132.0, 110135.0, 110143.0, 110155.0, 110156.0, 118348.0, 118355.0, 110170.0, 110173.0, 118379.0, 118381.0, 110190.0, 110192.0, 118387.0, 110208.0, 118400.0, 118417.0, 118420.0, 118434.0, 110249.0, 110253.0, 110254.0, 110256.0, 110258.0, 118451.0, 110264.0, 110268.0, 110269.0, 110270.0, 118466.0, 118470.0, 110281.0, 118476.0, 110293.0, 118487.0, 110297.0, 118490.0, 118492.0, 110304.0, 118500.0, 118503.0, 118505.0, 110322.0, 118515.0, 110327.0, 118520.0, 110336.0, 110337.0, 118529.0, 118542.0, 110356.0, 110357.0, 118549.0, 118550.0, 118552.0, 118554.0, 110365.0, 118561.0, 110371.0, 118576.0, 118579.0, 118580.0, 118583.0, 118588.0, 110400.0, 110401.0, 110402.0, 110408.0, 110414.0, 110430.0, 110432.0, 118630.0, 110441.0, 110443.0, 118636.0, 118637.0, 110448.0, 110451.0, 110454.0, 118655.0, 118656.0, 118658.0, 110469.0, 118664.0, 110473.0, 110476.0, 110480.0, 118672.0, 110482.0, 110483.0, 118673.0, 110486.0, 110497.0, 118693.0, 118698.0, 110507.0, 118700.0, 110513.0, 118709.0, 110518.0, 118721.0, 118726.0, 110535.0, 110536.0, 110543.0, 110549.0, 110550.0, 110555.0, 118754.0, 110570.0, 118767.0, 110576.0, 118776.0, 118779.0, 118785.0, 110597.0, 110602.0, 110603.0, 110604.0, 110605.0, 118805.0, 110620.0, 118812.0, 110627.0, 118821.0, 110635.0, 118830.0, 110641.0, 110648.0, 118842.0, 118845.0, 110656.0, 110659.0, 110660.0, 118853.0, 110668.0, 110672.0, 118868.0, 118872.0, 118885.0, 118897.0, 118901.0, 110718.0, 110721.0, 110732.0, 118927.0, 118930.0, 110748.0, 110749.0, 110750.0, 118942.0, 118946.0, 110755.0, 110769.0, 118973.0, 118978.0, 110790.0, 118985.0, 118992.0, 119002.0, 110811.0, 110812.0, 110814.0, 119031.0, 119033.0, 110843.0, 110847.0, 119041.0, 110850.0, 110851.0, 110852.0, 119047.0, 119048.0, 119052.0, 119055.0, 110869.0, 110871.0, 110872.0, 119064.0, 110881.0, 119074.0, 110886.0, 119086.0, 119087.0, 119090.0, 119091.0, 119093.0, 110906.0, 119105.0, 119112.0, 110925.0, 110928.0, 110933.0, 119146.0, 110958.0, 119153.0, 119155.0, 119161.0, 119165.0, 119179.0, 110997.0, 110999.0, 111005.0, 119197.0, 111011.0, 119204.0, 119211.0, 111021.0, 119214.0, 111024.0, 111025.0, 111029.0, 119226.0, 119227.0, 111040.0, 111043.0, 111049.0, 119244.0, 111054.0, 119250.0, 111071.0, 119273.0, 111099.0, 119293.0, 119295.0, 119303.0, 119307.0, 111117.0, 111118.0, 119310.0, 111124.0, 111126.0, 111127.0, 111130.0, 119323.0, 111141.0, 111144.0, 119338.0, 111147.0, 119340.0, 111150.0, 111153.0, 119346.0, 111156.0, 119350.0, 111161.0, 111171.0, 111179.0, 119375.0, 111190.0, 111194.0, 119400.0, 119411.0, 111220.0, 119415.0, 119420.0, 119421.0, 111232.0, 119427.0, 111241.0, 111248.0, 119443.0, 119451.0, 111260.0, 111265.0, 111270.0, 119462.0, 119466.0, 119470.0, 119480.0, 119483.0, 119486.0, 111296.0, 111298.0, 111302.0, 119498.0, 119506.0, 119507.0, 119510.0, 111321.0, 111326.0, 119521.0, 119532.0, 111341.0, 111346.0, 119539.0, 119545.0, 111355.0, 111356.0, 119549.0, 111361.0, 111367.0, 111377.0, 111381.0, 111383.0, 111385.0, 111391.0, 119586.0, 111397.0, 119595.0, 119597.0, 111407.0, 119601.0, 111414.0, 119610.0, 119614.0, 119615.0, 111426.0, 111435.0, 111439.0, 111448.0, 111453.0, 119647.0, 119652.0, 111461.0, 119656.0, 111468.0, 119664.0, 111484.0, 111487.0, 119682.0, 119685.0, 119686.0, 111497.0, 119701.0, 111515.0, 119707.0, 119712.0, 119714.0, 111532.0, 111539.0, 111541.0, 111554.0, 119751.0, 119757.0, 119760.0, 111576.0, 119772.0, 119775.0, 111589.0, 119790.0, 119792.0, 119798.0, 111611.0, 119811.0, 111626.0, 111630.0, 119823.0, 111635.0, 111641.0, 111643.0, 111655.0, 119848.0, 119850.0, 119858.0, 119860.0, 119862.0, 119866.0, 119868.0, 119871.0, 119876.0, 111692.0, 119887.0, 111699.0, 119895.0, 111708.0, 119903.0, 119908.0, 111731.0, 119924.0, 119927.0, 111739.0, 119938.0, 119939.0, 119940.0, 111754.0, 119947.0, 119950.0, 119951.0, 111769.0, 119961.0, 111774.0, 119969.0, 119974.0, 119979.0, 119981.0, 119982.0, 111794.0, 111802.0, 111804.0, 119997.0, 111808.0, 111822.0, 111826.0, 111831.0, 120024.0, 111839.0, 111842.0, 111852.0, 111866.0, 111873.0, 111878.0, 120070.0, 111880.0, 120074.0, 111889.0, 111913.0, 120107.0, 111917.0, 111920.0, 120119.0, 120123.0, 111942.0, 120138.0, 111951.0, 111962.0, 120155.0, 111965.0, 111967.0, 111973.0, 120171.0, 120174.0, 120177.0, 111992.0, 120184.0, 111994.0, 120185.0, 111997.0, 120191.0, 120195.0, 120198.0, 120199.0, 120217.0, 112035.0, 120228.0, 112039.0, 112041.0, 112043.0, 112057.0, 120249.0, 112059.0, 120252.0, 120254.0, 120255.0, 112071.0, 112073.0, 120271.0, 112080.0, 112081.0, 120275.0, 112086.0, 112095.0, 112098.0, 120296.0, 112122.0, 120316.0, 112125.0, 120320.0, 112129.0, 112131.0, 120326.0, 112138.0, 112140.0, 112142.0, 112143.0, 112144.0, 120334.0, 120339.0, 120344.0, 120349.0, 112162.0, 120363.0, 120366.0, 120372.0, 112184.0, 120376.0, 112188.0, 112191.0, 112193.0, 112197.0, 112199.0, 120398.0, 120400.0, 120401.0, 120404.0, 120410.0, 120415.0, 120419.0, 112229.0, 112231.0, 120431.0, 112240.0, 112241.0, 112242.0, 112243.0, 120442.0, 120444.0, 120448.0, 112261.0, 112269.0, 120476.0, 120485.0, 120490.0, 112317.0, 120510.0, 112323.0, 120525.0, 112335.0, 120539.0, 120543.0, 112352.0, 112354.0, 120546.0, 120547.0, 112357.0, 120555.0, 120556.0, 120562.0, 120563.0, 112376.0, 120577.0, 112386.0, 112388.0, 112389.0, 120590.0, 120595.0, 112409.0, 112419.0, 120613.0, 112424.0, 120619.0, 112435.0, 112441.0, 120635.0, 112445.0, 120638.0, 120645.0, 120646.0, 112467.0, 120659.0, 120666.0, 112489.0, 112498.0, 112501.0, 112504.0, 120712.0, 120722.0, 120727.0, 112556.0, 120759.0, 120760.0, 120761.0, 120762.0, 112572.0, 112577.0, 112581.0, 112586.0, 120801.0, 120802.0, 120806.0, 120808.0, 120816.0, 120823.0, 120824.0, 112637.0, 112641.0, 120841.0, 112657.0, 112667.0, 112670.0, 112671.0, 120864.0, 112673.0, 112675.0, 120871.0, 112682.0, 120875.0, 112685.0, 120880.0, 112698.0, 112702.0, 120895.0, 120902.0, 112712.0, 112713.0, 112717.0, 112721.0, 120917.0, 120928.0, 112738.0, 112739.0, 120932.0, 112742.0, 120934.0, 120936.0, 112747.0, 120941.0, 112752.0, 120945.0, 112760.0, 120963.0, 120970.0, 120971.0, 112782.0, 120975.0, 112787.0, 112790.0, 112791.0, 112792.0, 112804.0, 120996.0, 112809.0, 112817.0, 112826.0, 112828.0, 112839.0, 121033.0, 121037.0, 112850.0, 112854.0, 112855.0, 121051.0, 112860.0, 121056.0, 112865.0, 121059.0, 112873.0, 121065.0, 121081.0, 112900.0, 121099.0, 121101.0, 112910.0, 121103.0, 112916.0, 121108.0, 112925.0, 112928.0, 112930.0, 112932.0, 121131.0, 112948.0, 112955.0, 112957.0, 121152.0, 112968.0, 121160.0, 121165.0, 112976.0, 121169.0, 112988.0, 112992.0, 112994.0, 113006.0, 113007.0, 113012.0, 113016.0, 121210.0, 121213.0, 113030.0, 113031.0, 113033.0, 121227.0, 113036.0, 121229.0, 121238.0, 113047.0, 121243.0, 121245.0, 121249.0, 121251.0, 121261.0, 113082.0, 113088.0, 121288.0, 113097.0, 121294.0, 113108.0, 121310.0, 121313.0, 121314.0, 121315.0, 113126.0, 113141.0, 121346.0, 121349.0, 113158.0, 113162.0, 121356.0, 121358.0, 121363.0, 113177.0, 113179.0, 113180.0, 121371.0, 113197.0, 121390.0, 121393.0, 121394.0, 121396.0, 113207.0, 121402.0, 121405.0, 121410.0, 121411.0, 113221.0, 121417.0, 121441.0, 113253.0, 121450.0, 113264.0, 121456.0, 113266.0, 113268.0, 113288.0, 121481.0, 121485.0, 121486.0, 113295.0, 121492.0, 113306.0, 113308.0, 121504.0, 113328.0, 121521.0, 113343.0, 121539.0, 113355.0, 121547.0, 113358.0, 113359.0, 121564.0, 121567.0, 113378.0, 121571.0, 113381.0, 113393.0, 113398.0, 121597.0, 121598.0, 121603.0, 121614.0, 113430.0, 121624.0, 113435.0, 121633.0, 121636.0, 121645.0, 113455.0, 113456.0, 121663.0, 121664.0, 113473.0, 113475.0, 121668.0, 113493.0, 113494.0, 121688.0, 121692.0, 113503.0, 121695.0, 113519.0, 113525.0, 121720.0, 121737.0, 113546.0, 121739.0, 113548.0, 121749.0, 113559.0, 113562.0, 113565.0, 113566.0, 121757.0, 121760.0, 113571.0, 121763.0, 121767.0, 121768.0, 113579.0, 113583.0, 113594.0, 121790.0, 121791.0, 121793.0, 113610.0, 113626.0, 121818.0, 113630.0, 113636.0, 121831.0, 121836.0, 121838.0, 121842.0, 113653.0, 113663.0, 121861.0, 121864.0, 121867.0, 113681.0, 121875.0, 121881.0, 121885.0, 121888.0, 121893.0, 113709.0, 121911.0, 121917.0, 113726.0, 113738.0, 113745.0, 113747.0, 113748.0, 121942.0, 113752.0, 121947.0, 121951.0, 113760.0, 121962.0, 113772.0, 113775.0, 121970.0, 113779.0, 113781.0, 121976.0, 113790.0, 113791.0, 113794.0, 113798.0, 121991.0, 121992.0, 113811.0, 113814.0, 122007.0, 113816.0, 122009.0, 122012.0, 113823.0, 122015.0, 122018.0, 122022.0, 122026.0, 122029.0, 122040.0, 113853.0, 113858.0, 113861.0, 122059.0, 122063.0, 122068.0, 122076.0, 122088.0, 113899.0, 113900.0, 122103.0, 122105.0, 113926.0, 122118.0, 113934.0, 122135.0, 113945.0, 122138.0, 113947.0, 122148.0, 113957.0, 113958.0, 122149.0, 122150.0, 122152.0, 122155.0, 113982.0, 113987.0, 113990.0, 122187.0, 113996.0, 122188.0, 122190.0, 122201.0, 122205.0, 114016.0, 122210.0, 114019.0, 122219.0, 114028.0, 122235.0, 114053.0, 114055.0, 114059.0, 122258.0, 122264.0, 122265.0, 114074.0, 122268.0, 122270.0, 114085.0, 114086.0, 122279.0, 114089.0, 114098.0, 122297.0, 114113.0, 114114.0, 114118.0, 122311.0, 122322.0, 122324.0, 122325.0, 114134.0, 114143.0, 114145.0, 114154.0, 122354.0, 122360.0, 122367.0, 122368.0, 114181.0, 122373.0, 122376.0, 114186.0, 114187.0, 114188.0, 122380.0, 122385.0, 114201.0, 114210.0, 122413.0, 114227.0, 122425.0, 114234.0, 114236.0, 114237.0, 122429.0, 122438.0, 122453.0, 122454.0, 122464.0, 122468.0, 114277.0, 114284.0, 122485.0, 122491.0, 114302.0, 114304.0, 114306.0, 114312.0, 114318.0, 122510.0, 114329.0, 122523.0, 114332.0, 122529.0, 114339.0, 122537.0, 114349.0, 122542.0, 122544.0, 114353.0, 122549.0, 114362.0, 122557.0, 122563.0, 114376.0, 114379.0, 114385.0, 114399.0, 122593.0, 122601.0, 114413.0, 114415.0, 114418.0, 122611.0, 122612.0, 114421.0, 114426.0, 122623.0, 114432.0, 114436.0, 122631.0, 114440.0, 122634.0, 122636.0, 114445.0, 122637.0, 122639.0, 114448.0, 114449.0, 114451.0, 114453.0, 122649.0, 122651.0, 114465.0, 122658.0, 114469.0, 114475.0, 114476.0, 114480.0, 122684.0, 122687.0, 114498.0, 114499.0, 122698.0, 114512.0, 114515.0, 122709.0, 122713.0, 122719.0, 122720.0, 122727.0, 122737.0, 122739.0, 114555.0, 122748.0, 114560.0, 122753.0, 114567.0, 122766.0, 114584.0, 122776.0, 122777.0, 114592.0, 114597.0, 114599.0, 122796.0, 122802.0, 114611.0, 114613.0, 122805.0, 122809.0, 114623.0, 122818.0, 114629.0, 114635.0, 122832.0, 114643.0, 122839.0, 122841.0, 122842.0, 114661.0, 122855.0, 122856.0, 114669.0, 114673.0, 122865.0, 122870.0, 122874.0]
SEQNs missing from DR1 that were in DR2 in the 2017 - 2020 wave: [117012.0, 110939.0]

## Join with FPED

Join FPED to each of the four DR datasets. We have to do this and aggregate within each DR before we combine the DRs together, otherwise we get cartesian merges.

In [22]:
fped = pd.read_csv('data/miscellany/FPED_1720.csv')
fped.columns = fped.columns.str.lower()
fped.columns = fped.columns.str.replace(" ", "_")

fped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7444 entries, 0 to 7443
Data columns (total 39 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   foodcode                   7444 non-null   int64
 1   description                7444 non-null   object
 2   f_total_(cup_eq)           7444 non-null   float64
 3   f_citmlb_(cup_eq)          7444 non-null   float64
 4   f_other_(cup_eq)           7444 non-null   float64
 5   f_juice_(cup_eq)           7444 non-null   float64
 6   v_total_(cup_eq)           7444 non-null   float64
 7   v_drkgr_(cup_eq)           7444 non-null   float64
 8   v_redor_total_(cup_eq)     7444 non-null   float64
 9   v_redor_tomato_(cup_eq)    7444 non-null   float64
 10  v_redor_other_(cup_eq)     7444 non-null   float64
 11  v_starchy_total_(cup_eq)   7444 non-null   float64
 12  v_starchy_potato_(cup_eq)  7444 non-null   float64
 13  v_starchy_other_(cup_eq)   7444 non-null   float64
 14  v_other_(cup_eq)           7444 non-null   float64
 15  v_legumes_(cup_eq)         7444 non-null   float64
 16  g_total_(oz_eq)            7444 non-null   float64
 17  g_whole_(oz_eq)            7444 non-null   float64
 18  g_refined_(oz_eq)          7444 non-null   float64
 19  pf_total_(oz_eq)           7444 non-null   float64
 20  pf_mps_total_(oz_eq)       7444 non-null   float64
 21  pf_meat_(oz_eq)            7444 non-null   float64
 22  pf_curedmeat_(oz_eq)       7444 non-null   float64
 23  pf_organ_(oz_eq)           7444 non-null   float64
 24  pf_poult_(oz_eq)           7444 non-null   float64
 25  pf_seafd_hi_(oz_eq)        7444 non-null   float64
 26  pf_seafd_low_(oz_eq)       7444 non-null   float64
 27  pf_eggs_(oz_eq)            7444 non-null   float64
 28  pf_soy_(oz_eq)             7444 non-null   float64
 29  pf_nutsds_(oz_eq)          7444 non-null   float64
 30  pf_legumes_(oz_eq)         7444 non-null   float64
 31  d_total_(cup_eq)           7444 non-null   float64
 32  d_milk_(cup_eq)            7444 non-null   float64
 33  d_yogurt_(cup_eq)          7444 non-null   float64
 34  d_cheese_(cup_eq)          7444 non-null   float64
 35  oils_(grams)               7444 non-null   float64
 36  solid_fats_(grams)         7444 non-null   float64
 37  add_sugars_(tsp_eq)        7444 non-null   float64
 38  a_drinks_(no._of_drinks)   7444 non-null   float64
dtypes: float64(37), int64(1), object(1)
memory usage: 2.2+ MB

Rename columns in DR datasets that are not consistent (FDCD, GRMS, and 2 day weights). This will make it easier map over the list of all datasets when we aggregate

In [23]:
# Function to rename columns across all datasets
# These are the ones we care about that differ between DR dataset
def rename_columns(df):
    new_columns = {}
    for col in df.columns:
        if re.search(r'FDCD$', col):
            new_columns[col] = 'food_code'
        elif re.search(r'GRMS$', col):
            new_columns[col] = 'grams'
        elif re.search(r'^WTDR2', col):
            new_columns[col] = 'weight_2d'
        else:
            new_columns[col] = col

    df = df.rename(columns=new_columns)
    return df

# Rename columns in each dataset
datasets_renamed = list(map(rename_columns, datasets))

print("\nRenamed Datasets:\n")
list(map(lambda df: df.info(), datasets_renamed))

Renamed Datasets:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100116 entries, 0 to 100115
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SEQN       100116 non-null  float64
 1   weight_2d  100116 non-null  float64
 2   food_code  100116 non-null  float64
 3   grams      99787 non-null   float64
dtypes: float64(4)
memory usage: 3.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88032 entries, 0 to 88031
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SEQN       88032 non-null  float64
 1   weight_2d  88032 non-null  float64
 2   food_code  88032 non-null  float64
 3   grams      87778 non-null  float64
dtypes: float64(4)
memory usage: 2.7 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183910 entries, 0 to 183909
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SEQN       183910 non-null  float64
 1   weight_2d  183910 non-null  float64
 2   food_code  183910 non-null  float64
 3   grams      182506 non-null  float64
dtypes: float64(4)
memory usage: 5.6 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149495 entries, 0 to 149494
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   SEQN       149495 non-null  float64
 1   weight_2d  149495 non-null  float64
 2   food_code  149495 non-null  float64
 3   grams      148367 non-null  float64
dtypes: float64(4)
memory usage: 4.6 MB

[None, None, None, None]

Merge each DR with FPED

In [24]:
# Map over our list of datasets and merge each out with FPED
def merge_with_fped(df):
    return df.merge(fped, left_on='food_code', right_on='foodcode', how='left')

dfs_fped = list(map(merge_with_fped, datasets_renamed))

print("\nDatasets with FPED:\n")
list(map(lambda df: df.info(), dfs_fped))

Datasets with FPED:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100116 entries, 0 to 100115
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   SEQN                       100116 non-null  float64
 1   weight_2d                  100116 non-null  float64
 2   food_code                  100116 non-null  float64
 3   grams                      99787 non-null   float64
 4   foodcode                   99788 non-null   float64
 5   description                99788 non-null   object
 6   f_total_(cup_eq)           99788 non-null   float64
 7   f_citmlb_(cup_eq)          99788 non-null   float64
 8   f_other_(cup_eq)           99788 non-null   float64
 9   f_juice_(cup_eq)           99788 non-null   float64
 10  v_total_(cup_eq)           99788 non-null   float64
 11  v_drkgr_(cup_eq)           99788 non-null   float64
 12  v_redor_total_(cup_eq)     99788 non-null   float64
 13  v_redor_tomato_(cup_eq)    99788 non-null   float64
 14  v_redor_other_(cup_eq)     99788 non-null   float64
 15  v_starchy_total_(cup_eq)   99788 non-null   float64
 16  v_starchy_potato_(cup_eq)  99788 non-null   float64
 17  v_starchy_other_(cup_eq)   99788 non-null   float64
 18  v_other_(cup_eq)           99788 non-null   float64
 19  v_legumes_(cup_eq)         99788 non-null   float64
 20  g_total_(oz_eq)            99788 non-null   float64
 21  g_whole_(oz_eq)            99788 non-null   float64
 22  g_refined_(oz_eq)          99788 non-null   float64
 23  pf_total_(oz_eq)           99788 non-null   float64
 24  pf_mps_total_(oz_eq)       99788 non-null   float64
 25  pf_meat_(oz_eq)            99788 non-null   float64
 26  pf_curedmeat_(oz_eq)       99788 non-null   float64
 27  pf_organ_(oz_eq)           99788 non-null   float64
 28  pf_poult_(oz_eq)           99788 non-null   float64
 29  pf_seafd_hi_(oz_eq)        99788 non-null   float64
 30  pf_seafd_low_(oz_eq)       99788 non-null   float64
 31  pf_eggs_(oz_eq)            99788 non-null   float64
 32  pf_soy_(oz_eq)             99788 non-null   float64
 33  pf_nutsds_(oz_eq)          99788 non-null   float64
 34  pf_legumes_(oz_eq)         99788 non-null   float64
 35  d_total_(cup_eq)           99788 non-null   float64
 36  d_milk_(cup_eq)            99788 non-null   float64
 37  d_yogurt_(cup_eq)          99788 non-null   float64
 38  d_cheese_(cup_eq)          99788 non-null   float64
 39  oils_(grams)               99788 non-null   float64
 40  solid_fats_(grams)         99788 non-null   float64
 41  add_sugars_(tsp_eq)        99788 non-null   float64
 42  a_drinks_(no._of_drinks)   99788 non-null   float64
dtypes: float64(42), object(1)
memory usage: 32.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88032 entries, 0 to 88031
Data columns (total 43 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SEQN                       88032 non-null  float64
 1   weight_2d                  88032 non-null  float64
 2   food_code                  88032 non-null  float64
 3   grams                      87778 non-null  float64
 4   foodcode                   87722 non-null  float64
 5   description                87722 non-null  object
 6   f_total_(cup_eq)           87722 non-null  float64
 7   f_citmlb_(cup_eq)          87722 non-null  float64
 8   f_other_(cup_eq)           87722 non-null  float64
 9   f_juice_(cup_eq)           87722 non-null  float64
 10  v_total_(cup_eq)           87722 non-null  float64
 11  v_drkgr_(cup_eq)           87722 non-null  float64
 12  v_redor_total_(cup_eq)     87722 non-null  float64
 13  v_redor_tomato_(cup_eq)    87722 non-null  float64
 14  v_redor_other_(cup_eq)     87722 non-null  float64
 15  v_starchy_total_(cup_eq)   87722 non-null  float64
 16  v_starchy_potato_(cup_eq)  87722 non-null  float64
 17  v_starchy_other_(cup_eq)   87722 non-null  float64
 18  v_other_(cup_eq)           87722 non-null  float64
 19  v_legumes_(cup_eq)         87722 non-null  float64
 20  g_total_(oz_eq)            87722 non-null  float64
 21  g_whole_(oz_eq)            87722 non-null  float64
 22  g_refined_(oz_eq)          87722 non-null  float64
 23  pf_total_(oz_eq)           87722 non-null  float64
 24  pf_mps_total_(oz_eq)       87722 non-null  float64
 25  pf_meat_(oz_eq)            87722 non-null  float64
 26  pf_curedmeat_(oz_eq)       87722 non-null  float64
 27  pf_organ_(oz_eq)           87722 non-null  float64
 28  pf_poult_(oz_eq)           87722 non-null  float64
 29  pf_seafd_hi_(oz_eq)        87722 non-null  float64
 30  pf_seafd_low_(oz_eq)       87722 non-null  float64
 31  pf_eggs_(oz_eq)            87722 non-null  float64
 32  pf_soy_(oz_eq)             87722 non-null  float64
 33  pf_nutsds_(oz_eq)          87722 non-null  float64
 34  pf_legumes_(oz_eq)         87722 non-null  float64
 35  d_total_(cup_eq)           87722 non-null  float64
 36  d_milk_(cup_eq)            87722 non-null  float64
 37  d_yogurt_(cup_eq)          87722 non-null  float64
 38  d_cheese_(cup_eq)          87722 non-null  float64
 39  oils_(grams)               87722 non-null  float64
 40  solid_fats_(grams)         87722 non-null  float64
 41  add_sugars_(tsp_eq)        87722 non-null  float64
 42  a_drinks_(no._of_drinks)   87722 non-null  float64
dtypes: float64(42), object(1)
memory usage: 28.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183910 entries, 0 to 183909
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   SEQN                       183910 non-null  float64
 1   weight_2d                  183910 non-null  float64
 2   food_code                  183910 non-null  float64
 3   grams                      182506 non-null  float64
 4   foodcode                   183910 non-null  int64
 5   description                183910 non-null  object
 6   f_total_(cup_eq)           183910 non-null  float64
 7   f_citmlb_(cup_eq)          183910 non-null  float64
 8   f_other_(cup_eq)           183910 non-null  float64
 9   f_juice_(cup_eq)           183910 non-null  float64
 10  v_total_(cup_eq)           183910 non-null  float64
 11  v_drkgr_(cup_eq)           183910 non-null  float64
 12  v_redor_total_(cup_eq)     183910 non-null  float64
 13  v_redor_tomato_(cup_eq)    183910 non-null  float64
 14  v_redor_other_(cup_eq)     183910 non-null  float64
 15  v_starchy_total_(cup_eq)   183910 non-null  float64
 16  v_starchy_potato_(cup_eq)  183910 non-null  float64
 17  v_starchy_other_(cup_eq)   183910 non-null  float64
 18  v_other_(cup_eq)           183910 non-null  float64
 19  v_legumes_(cup_eq)         183910 non-null  float64
 20  g_total_(oz_eq)            183910 non-null  float64
 21  g_whole_(oz_eq)            183910 non-null  float64
 22  g_refined_(oz_eq)          183910 non-null  float64
 23  pf_total_(oz_eq)           183910 non-null  float64
 24  pf_mps_total_(oz_eq)       183910 non-null  float64
 25  pf_meat_(oz_eq)            183910 non-null  float64
 26  pf_curedmeat_(oz_eq)       183910 non-null  float64
 27  pf_organ_(oz_eq)           183910 non-null  float64
 28  pf_poult_(oz_eq)           183910 non-null  float64
 29  pf_seafd_hi_(oz_eq)        183910 non-null  float64
 30  pf_seafd_low_(oz_eq)       183910 non-null  float64
 31  pf_eggs_(oz_eq)            183910 non-null  float64
 32  pf_soy_(oz_eq)             183910 non-null  float64
 33  pf_nutsds_(oz_eq)          183910 non-null  float64
 34  pf_legumes_(oz_eq)         183910 non-null  float64
 35  d_total_(cup_eq)           183910 non-null  float64
 36  d_milk_(cup_eq)            183910 non-null  float64
 37  d_yogurt_(cup_eq)          183910 non-null  float64
 38  d_cheese_(cup_eq)          183910 non-null  float64
 39  oils_(grams)               183910 non-null  float64
 40  solid_fats_(grams)         183910 non-null  float64
 41  add_sugars_(tsp_eq)        183910 non-null  float64
 42  a_drinks_(no._of_drinks)   183910 non-null  float64
dtypes: float64(41), int64(1), object(1)
memory usage: 60.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149495 entries, 0 to 149494
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   SEQN                       149495 non-null  float64
 1   weight_2d                  149495 non-null  float64
 2   food_code                  149495 non-null  float64
 3   grams                      148367 non-null  float64
 4   foodcode                   149495 non-null  int64
 5   description                149495 non-null  object
 6   f_total_(cup_eq)           149495 non-null  float64
 7   f_citmlb_(cup_eq)          149495 non-null  float64
 8   f_other_(cup_eq)           149495 non-null  float64
 9   f_juice_(cup_eq)           149495 non-null  float64
 10  v_total_(cup_eq)           149495 non-null  float64
 11  v_drkgr_(cup_eq)           149495 non-null  float64
 12  v_redor_total_(cup_eq)     149495 non-null  float64
 13  v_redor_tomato_(cup_eq)    149495 non-null  float64
 14  v_redor_other_(cup_eq)     149495 non-null  float64
 15  v_starchy_total_(cup_eq)   149495 non-null  float64
 16  v_starchy_potato_(cup_eq)  149495 non-null  float64
 17  v_starchy_other_(cup_eq)   149495 non-null  float64
 18  v_other_(cup_eq)           149495 non-null  float64
 19  v_legumes_(cup_eq)         149495 non-null  float64
 20  g_total_(oz_eq)            149495 non-null  float64
 21  g_whole_(oz_eq)            149495 non-null  float64
 22  g_refined_(oz_eq)          149495 non-null  float64
 23  pf_total_(oz_eq)           149495 non-null  float64
 24  pf_mps_total_(oz_eq)       149495 non-null  float64
 25  pf_meat_(oz_eq)            149495 non-null  float64
 26  pf_curedmeat_(oz_eq)       149495 non-null  float64
 27  pf_organ_(oz_eq)           149495 non-null  float64
 28  pf_poult_(oz_eq)           149495 non-null  float64
 29  pf_seafd_hi_(oz_eq)        149495 non-null  float64
 30  pf_seafd_low_(oz_eq)       149495 non-null  float64
 31  pf_eggs_(oz_eq)            149495 non-null  float64
 32  pf_soy_(oz_eq)             149495 non-null  float64
 33  pf_nutsds_(oz_eq)          149495 non-null  float64
 34  pf_legumes_(oz_eq)         149495 non-null  float64
 35  d_total_(cup_eq)           149495 non-null  float64
 36  d_milk_(cup_eq)            149495 non-null  float64
 37  d_yogurt_(cup_eq)          149495 non-null  float64
 38  d_cheese_(cup_eq)          149495 non-null  float64
 39  oils_(grams)               149495 non-null  float64
 40  solid_fats_(grams)         149495 non-null  float64
 41  add_sugars_(tsp_eq)        149495 non-null  float64
 42  a_drinks_(no._of_drinks)   149495 non-null  float64
dtypes: float64(41), int64(1), object(1)
memory usage: 49.0+ MB

[None, None, None, None]

## Combine Datasets

Now we can concat DR1 and DR2 together for each wave

In [25]:
# Combine first and second DF to make a df for 2021-2023
df_21 = pd.concat([dfs_fped[0], dfs_fped[1]], ignore_index=True)
df_21.info()

# Combine second and third DF to make df for 2017-2020
df_17 = pd.concat([dfs_fped[2], dfs_fped[3]], ignore_index=True)
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188148 entries, 0 to 188147
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   SEQN                       188148 non-null  float64
 1   weight_2d                  188148 non-null  float64
 2   food_code                  188148 non-null  float64
 3   grams                      187565 non-null  float64
 4   foodcode                   187510 non-null  float64
 5   description                187510 non-null  object
 6   f_total_(cup_eq)           187510 non-null  float64
 7   f_citmlb_(cup_eq)          187510 non-null  float64
 8   f_other_(cup_eq)           187510 non-null  float64
 9   f_juice_(cup_eq)           187510 non-null  float64
 10  v_total_(cup_eq)           187510 non-null  float64
 11  v_drkgr_(cup_eq)           187510 non-null  float64
 12  v_redor_total_(cup_eq)     187510 non-null  float64
 13  v_redor_tomato_(cup_eq)    187510 non-null  float64
 14  v_redor_other_(cup_eq)     187510 non-null  float64
 15  v_starchy_total_(cup_eq)   187510 non-null  float64
 16  v_starchy_potato_(cup_eq)  187510 non-null  float64
 17  v_starchy_other_(cup_eq)   187510 non-null  float64
 18  v_other_(cup_eq)           187510 non-null  float64
 19  v_legumes_(cup_eq)         187510 non-null  float64
 20  g_total_(oz_eq)            187510 non-null  float64
 21  g_whole_(oz_eq)            187510 non-null  float64
 22  g_refined_(oz_eq)          187510 non-null  float64
 23  pf_total_(oz_eq)           187510 non-null  float64
 24  pf_mps_total_(oz_eq)       187510 non-null  float64
 25  pf_meat_(oz_eq)            187510 non-null  float64
 26  pf_curedmeat_(oz_eq)       187510 non-null  float64
 27  pf_organ_(oz_eq)           187510 non-null  float64
 28  pf_poult_(oz_eq)           187510 non-null  float64
 29  pf_seafd_hi_(oz_eq)        187510 non-null  float64
 30  pf_seafd_low_(oz_eq)       187510 non-null  float64
 31  pf_eggs_(oz_eq)            187510 non-null  float64
 32  pf_soy_(oz_eq)             187510 non-null  float64
 33  pf_nutsds_(oz_eq)          187510 non-null  float64
 34  pf_legumes_(oz_eq)         187510 non-null  float64
 35  d_total_(cup_eq)           187510 non-null  float64
 36  d_milk_(cup_eq)            187510 non-null  float64
 37  d_yogurt_(cup_eq)          187510 non-null  float64
 38  d_cheese_(cup_eq)          187510 non-null  float64
 39  oils_(grams)               187510 non-null  float64
 40  solid_fats_(grams)         187510 non-null  float64
 41  add_sugars_(tsp_eq)        187510 non-null  float64
 42  a_drinks_(no._of_drinks)   187510 non-null  float64
dtypes: float64(42), object(1)
memory usage: 61.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333405 entries, 0 to 333404
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   SEQN                       333405 non-null  float64
 1   weight_2d                  333405 non-null  float64
 2   food_code                  333405 non-null  float64
 3   grams                      330873 non-null  float64
 4   foodcode                   333405 non-null  int64
 5   description                333405 non-null  object
 6   f_total_(cup_eq)           333405 non-null  float64
 7   f_citmlb_(cup_eq)          333405 non-null  float64
 8   f_other_(cup_eq)           333405 non-null  float64
 9   f_juice_(cup_eq)           333405 non-null  float64
 10  v_total_(cup_eq)           333405 non-null  float64
 11  v_drkgr_(cup_eq)           333405 non-null  float64
 12  v_redor_total_(cup_eq)     333405 non-null  float64
 13  v_redor_tomato_(cup_eq)    333405 non-null  float64
 14  v_redor_other_(cup_eq)     333405 non-null  float64
 15  v_starchy_total_(cup_eq)   333405 non-null  float64
 16  v_starchy_potato_(cup_eq)  333405 non-null  float64
 17  v_starchy_other_(cup_eq)   333405 non-null  float64
 18  v_other_(cup_eq)           333405 non-null  float64
 19  v_legumes_(cup_eq)         333405 non-null  float64
 20  g_total_(oz_eq)            333405 non-null  float64
 21  g_whole_(oz_eq)            333405 non-null  float64
 22  g_refined_(oz_eq)          333405 non-null  float64
 23  pf_total_(oz_eq)           333405 non-null  float64
 24  pf_mps_total_(oz_eq)       333405 non-null  float64
 25  pf_meat_(oz_eq)            333405 non-null  float64
 26  pf_curedmeat_(oz_eq)       333405 non-null  float64
 27  pf_organ_(oz_eq)           333405 non-null  float64
 28  pf_poult_(oz_eq)           333405 non-null  float64
 29  pf_seafd_hi_(oz_eq)        333405 non-null  float64
 30  pf_seafd_low_(oz_eq)       333405 non-null  float64
 31  pf_eggs_(oz_eq)            333405 non-null  float64
 32  pf_soy_(oz_eq)             333405 non-null  float64
 33  pf_nutsds_(oz_eq)          333405 non-null  float64
 34  pf_legumes_(oz_eq)         333405 non-null  float64
 35  d_total_(cup_eq)           333405 non-null  float64
 36  d_milk_(cup_eq)            333405 non-null  float64
 37  d_yogurt_(cup_eq)          333405 non-null  float64
 38  d_cheese_(cup_eq)          333405 non-null  float64
 39  oils_(grams)               333405 non-null  float64
 40  solid_fats_(grams)         333405 non-null  float64
 41  add_sugars_(tsp_eq)        333405 non-null  float64
 42  a_drinks_(no._of_drinks)   333405 non-null  float64
dtypes: float64(41), int64(1), object(1)
memory usage: 109.4+ MB

Get food group totals for each food code for each person. Take grams, divide by 100, then multiply by every food group category.

In [26]:
# Put them back into a list
waves = [df_17, df_21]

def get_food_group_totals(df):
    df.loc[:, 'f_total_(cup_eq)':'a_drinks_(no._of_drinks)'].multiply(df['grams']/100, axis=0)
    return df

waves_fped = list(map(
    get_food_group_totals,
    waves
))

waves_fped[0].head()

,SEQN,weight_2d,food_code,grams,foodcode,description,f_total_(cup_eq),f_citmlb_(cup_eq),f_other_(cup_eq),f_juice_(cup_eq),...,pf_nutsds_(oz_eq),pf_legumes_(oz_eq),d_total_(cup_eq),d_milk_(cup_eq),d_yogurt_(cup_eq),d_cheese_(cup_eq),oils_(grams),solid_fats_(grams),add_sugars_(tsp_eq),a_drinks_(no._of_drinks)
0,109263.0,17808.067666,28320300.0,199.5,28320300,"Pork with vegetable excluding carrots, broccol...",0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.81,0.14,0.00,0.0
1,109263.0,17808.067666,91746110.0,20.0,91746110,"Chocolate candy, candy shell with nuts",0.0,0.0,0.0,0.0,...,1.99,0.0,0.05,0.03,0.0,0.0,5.09,16.02,11.52,0.0
2,109263.0,17808.067666,58106210.0,238.0,58106210,"Pizza, cheese, from restaurant or fast food, N...",0.0,0.0,0.0,0.0,...,0.00,0.0,0.70,0.00,0.0,0.7,3.54,5.01,0.26,0.0
3,109263.0,17808.067666,64104010.0,209.0,64104010,"Apple juice, 100%",0.4,0.0,0.0,0.4,...,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0
4,109263.0,17808.067666,11710801.0,124.0,11710801,"Infant formula, ready-to-feed (PediaSure)",0.0,0.0,0.0,0.0,...,0.00,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.00,0.0

Group by SEQN and aggregate FPED variables

In [27]:
## Grouping by SEQN within each DR dataset
# Set aggregation functions so we don't have to do them all manually
# Everything except food code and description in FPED should be summed
cols_to_sum = fped.columns[2:]

# Set aggregation functions
aggs = {col: 'sum' for col in cols_to_sum}
aggs['SEQN'] = 'first'
aggs['weight_2d'] = 'unique'
aggs['grams'] = 'sum'

# Aggregate each dataset
waves_grouped = list(map(
    lambda df:
        df.groupby('SEQN').agg(aggs),
    waves_fped
))

waves_grouped[0].head()

,f_total_(cup_eq),f_citmlb_(cup_eq),f_other_(cup_eq),f_juice_(cup_eq),v_total_(cup_eq),v_drkgr_(cup_eq),v_redor_total_(cup_eq),v_redor_tomato_(cup_eq),v_redor_other_(cup_eq),v_starchy_total_(cup_eq),...,d_milk_(cup_eq),d_yogurt_(cup_eq),d_cheese_(cup_eq),oils_(grams),solid_fats_(grams),add_sugars_(tsp_eq),a_drinks_(no._of_drinks),SEQN,weight_2d,grams
SEQN,,,,,,,,,,,,,,,,,,,,,
109263.0,1.60,0.00,0.00,1.60,0.36,0.00,0.15,0.15,0.00,0.00,...,0.26,0.00,3.19,25.41,82.28,49.04,0.0,109263.0,[17808.067666],2827.75
109264.0,0.00,0.00,0.00,0.00,4.17,0.86,1.03,0.66,0.37,0.00,...,0.12,0.00,3.09,119.77,107.89,43.70,0.0,109264.0,[7253.761719],4177.01
109265.0,2.28,0.67,0.41,1.20,3.34,0.21,0.38,0.16,0.22,1.93,...,1.43,0.00,2.35,104.86,168.54,45.45,0.0,109265.0,[35612.007356],4081.76
109266.0,0.87,0.70,0.17,0.00,3.98,0.07,0.60,0.16,0.44,2.48,...,0.20,0.26,2.44,82.41,40.39,14.80,0.0,109266.0,[5988.203624],9866.51
109269.0,0.04,0.00,0.00,0.04,1.85,0.00,0.10,0.10,0.00,1.75,...,0.25,0.00,2.99,175.65,87.97,18.82,0.0,109269.0,[18231.925894],1906.30

Now we are down to 1 row per SEQN per wave, including both days of dietary recall.

Finally we can concat both waves into a single df and divide 2day weights by 2

In [28]:
# Combine waves
df = pd.concat(waves_grouped, ignore_index=True)

# Divide 2day weights by 2 since we are combining two waves
df['weight_2d'] = df['weight_2d'] / 2

# Rearrange columns by bringing important ones to front
# Leaving in grams just as a check
front_cols = ['SEQN', 'weight_2d', 'grams']
cols = front_cols + [col for col in df.columns if col not in front_cols]
df = df[cols]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19386 entries, 0 to 19385
Data columns (total 40 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SEQN                       19386 non-null  float64
 1   weight_2d                  19386 non-null  object
 2   grams                      19386 non-null  float64
 3   f_total_(cup_eq)           19386 non-null  float64
 4   f_citmlb_(cup_eq)          19386 non-null  float64
 5   f_other_(cup_eq)           19386 non-null  float64
 6   f_juice_(cup_eq)           19386 non-null  float64
 7   v_total_(cup_eq)           19386 non-null  float64
 8   v_drkgr_(cup_eq)           19386 non-null  float64
 9   v_redor_total_(cup_eq)     19386 non-null  float64
 10  v_redor_tomato_(cup_eq)    19386 non-null  float64
 11  v_redor_other_(cup_eq)     19386 non-null  float64
 12  v_starchy_total_(cup_eq)   19386 non-null  float64
 13  v_starchy_potato_(cup_eq)  19386 non-null  float64
 14  v_starchy_other_(cup_eq)   19386 non-null  float64
 15  v_other_(cup_eq)           19386 non-null  float64
 16  v_legumes_(cup_eq)         19386 non-null  float64
 17  g_total_(oz_eq)            19386 non-null  float64
 18  g_whole_(oz_eq)            19386 non-null  float64
 19  g_refined_(oz_eq)          19386 non-null  float64
 20  pf_total_(oz_eq)           19386 non-null  float64
 21  pf_mps_total_(oz_eq)       19386 non-null  float64
 22  pf_meat_(oz_eq)            19386 non-null  float64
 23  pf_curedmeat_(oz_eq)       19386 non-null  float64
 24  pf_organ_(oz_eq)           19386 non-null  float64
 25  pf_poult_(oz_eq)           19386 non-null  float64
 26  pf_seafd_hi_(oz_eq)        19386 non-null  float64
 27  pf_seafd_low_(oz_eq)       19386 non-null  float64
 28  pf_eggs_(oz_eq)            19386 non-null  float64
 29  pf_soy_(oz_eq)             19386 non-null  float64
 30  pf_nutsds_(oz_eq)          19386 non-null  float64
 31  pf_legumes_(oz_eq)         19386 non-null  float64
 32  d_total_(cup_eq)           19386 non-null  float64
 33  d_milk_(cup_eq)            19386 non-null  float64
 34  d_yogurt_(cup_eq)          19386 non-null  float64
 35  d_cheese_(cup_eq)          19386 non-null  float64
 36  oils_(grams)               19386 non-null  float64
 37  solid_fats_(grams)         19386 non-null  float64
 38  add_sugars_(tsp_eq)        19386 non-null  float64
 39  a_drinks_(no._of_drinks)   19386 non-null  float64
dtypes: float64(39), object(1)
memory usage: 5.9+ MB

In [29]:
# Make the SEQN column an integer and weight_2d a float with two decimal places

df['SEQN'] = df['SEQN'].astype(int)

df['weight_2d'] = df['weight_2d'].astype(float)
df['weight_2d'] = df['weight_2d'].round(2)

df

,SEQN,weight_2d,grams,f_total_(cup_eq),f_citmlb_(cup_eq),f_other_(cup_eq),f_juice_(cup_eq),v_total_(cup_eq),v_drkgr_(cup_eq),v_redor_total_(cup_eq),...,pf_nutsds_(oz_eq),pf_legumes_(oz_eq),d_total_(cup_eq),d_milk_(cup_eq),d_yogurt_(cup_eq),d_cheese_(cup_eq),oils_(grams),solid_fats_(grams),add_sugars_(tsp_eq),a_drinks_(no._of_drinks)
0,109263,8904.03,2827.75,1.60,0.00,0.00,1.60,0.36,0.00,0.15,...,1.99,0.00,3.47,0.26,0.00,3.19,25.41,82.28,49.04,0.00
1,109264,3626.88,4177.01,0.00,0.00,0.00,0.00,4.17,0.86,1.03,...,0.52,0.00,3.26,0.12,0.00,3.09,119.77,107.89,43.70,0.00
2,109265,17806.00,4081.76,2.28,0.67,0.41,1.20,3.34,0.21,0.38,...,0.00,0.00,3.82,1.43,0.00,2.35,104.86,168.54,45.45,0.00
3,109266,2994.10,9866.51,0.87,0.70,0.17,0.00,3.98,0.07,0.60,...,0.44,0.46,5.40,0.20,0.26,2.44,82.41,40.39,14.80,0.00
4,109269,9115.96,1906.30,0.04,0.00,0.00,0.04,1.85,0.00,0.10,...,0.00,0.00,3.31,0.25,0.00,2.99,175.65,87.97,18.82,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19381,142303,24470.59,2969.85,1.07,0.00,0.67,0.40,0.67,0.00,0.12,...,0.00,0.71,1.07,0.00,0.00,1.07,41.42,42.53,26.01,0.00
19382,142304,18983.82,1984.75,0.81,0.00,0.00,0.81,0.75,0.00,0.74,...,0.00,0.00,1.25,0.04,0.00,1.21,91.13,59.02,10.64,0.00
19383,142307,35129.58,4994.00,0.72,0.00,0.67,0.05,0.91,0.32,0.18,...,0.14,0.00,1.30,0.29,0.39,0.47,75.74,40.35,50.85,0.00
19384,142309,44695.97,3649.05,0.00,0.00,0.00,0.00,2.09,0.00,0.68,...,0.71,0.00,1.42,0.00,0.00,1.42,24.55,20.77,8.88,0.00
19385,142310,25800.79,2977.87,0.80,0.00,0.00,0.80,3.58,0.00,0.13,...,7.05,0.00,0.11,0.11,0.00,0.00,176.56,112.94,26.93,8.37

This is hopefully a nice clean DF with one row per SEQN, both DR days, and two waves lumped together.

## Add Demographics

The NHANES dataset includes demographics for each respondent. The following steps merge key demographics with each respondent id number SEQN.

Load demographic data as xpt:

In [30]:
demos_17 = pd.read_sas('data/raw/nhanes_2017_2020/P_DEMO.xpt')
demos_21 = pd.read_sas('data/raw/nhanes_2021_2023/DEMO_L.xpt')

demos_17.info()
demos_21.info()

# combine into a single dataset
demos = pd.concat([demos_17, demos_21], ignore_index=True)
demos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15560 entries, 0 to 15559
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      15560 non-null  float64
 1   SDDSRVYR  15560 non-null  float64
 2   RIDSTATR  15560 non-null  float64
 3   RIAGENDR  15560 non-null  float64
 4   RIDAGEYR  15560 non-null  float64
 5   RIDAGEMN  987 non-null    float64
 6   RIDRETH1  15560 non-null  float64
 7   RIDRETH3  15560 non-null  float64
 8   RIDEXMON  14300 non-null  float64
 9   DMDBORN4  15560 non-null  float64
 10  DMDYRUSZ  3028 non-null   float64
 11  DMDEDUC2  9232 non-null   float64
 12  DMDMARTZ  9232 non-null   float64
 13  RIDEXPRG  1874 non-null   float64
 14  SIALANG   15560 non-null  float64
 15  SIAPROXY  15560 non-null  float64
 16  SIAINTRP  15560 non-null  float64
 17  FIALANG   14481 non-null  float64
 18  FIAPROXY  14481 non-null  float64
 19  FIAINTRP  14481 non-null  float64
 20  MIALANG   11000 non-null  float64
 21  MIAPROXY  11000 non-null  float64
 22  MIAINTRP  11000 non-null  float64
 23  AIALANGA  8224 non-null   float64
 24  WTINTPRP  15560 non-null  float64
 25  WTMECPRP  15560 non-null  float64
 26  SDMVPSU   15560 non-null  float64
 27  SDMVSTRA  15560 non-null  float64
 28  INDFMPIR  13359 non-null  float64
dtypes: float64(29)
memory usage: 3.4 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11933 entries, 0 to 11932
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      11933 non-null  float64
 1   SDDSRVYR  11933 non-null  float64
 2   RIDSTATR  11933 non-null  float64
 3   RIAGENDR  11933 non-null  float64
 4   RIDAGEYR  11933 non-null  float64
 5   RIDAGEMN  377 non-null    float64
 6   RIDRETH1  11933 non-null  float64
 7   RIDRETH3  11933 non-null  float64
 8   RIDEXMON  8860 non-null   float64
 9   RIDEXAGM  2787 non-null   float64
 10  DMQMILIZ  8301 non-null   float64
 11  DMDBORN4  11914 non-null  float64
 12  DMDYRUSR  1875 non-null   float64
 13  DMDEDUC2  7794 non-null   float64
 14  DMDMARTZ  7792 non-null   float64
 15  RIDEXPRG  1503 non-null   float64
 16  DMDHHSIZ  11933 non-null  float64
 17  DMDHRGND  4115 non-null   float64
 18  DMDHRAGZ  4124 non-null   float64
 19  DMDHREDZ  3746 non-null   float64
 20  DMDHRMAZ  4020 non-null   float64
 21  DMDHSEDZ  2127 non-null   float64
 22  WTINT2YR  11933 non-null  float64
 23  WTMEC2YR  11933 non-null  float64
 24  SDMVSTRA  11933 non-null  float64
 25  SDMVPSU   11933 non-null  float64
 26  INDFMPIR  9892 non-null   float64
dtypes: float64(27)
memory usage: 2.5 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27493 entries, 0 to 27492
Data columns (total 40 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      27493 non-null  float64
 1   SDDSRVYR  27493 non-null  float64
 2   RIDSTATR  27493 non-null  float64
 3   RIAGENDR  27493 non-null  float64
 4   RIDAGEYR  27493 non-null  float64
 5   RIDAGEMN  1364 non-null   float64
 6   RIDRETH1  27493 non-null  float64
 7   RIDRETH3  27493 non-null  float64
 8   RIDEXMON  23160 non-null  float64
 9   DMDBORN4  27474 non-null  float64
 10  DMDYRUSZ  3028 non-null   float64
 11  DMDEDUC2  17026 non-null  float64
 12  DMDMARTZ  17024 non-null  float64
 13  RIDEXPRG  3377 non-null   float64
 14  SIALANG   15560 non-null  float64
 15  SIAPROXY  15560 non-null  float64
 16  SIAINTRP  15560 non-null  float64
 17  FIALANG   14481 non-null  float64
 18  FIAPROXY  14481 non-null  float64
 19  FIAINTRP  14481 non-null  float64
 20  MIALANG   11000 non-null  float64
 21  MIAPROXY  11000 non-null  float64
 22  MIAINTRP  11000 non-null  float64
 23  AIALANGA  8224 non-null   float64
 24  WTINTPRP  15560 non-null  float64
 25  WTMECPRP  15560 non-null  float64
 26  SDMVPSU   27493 non-null  float64
 27  SDMVSTRA  27493 non-null  float64
 28  INDFMPIR  23251 non-null  float64
 29  RIDEXAGM  2787 non-null   float64
 30  DMQMILIZ  8301 non-null   float64
 31  DMDYRUSR  1875 non-null   float64
 32  DMDHHSIZ  11933 non-null  float64
 33  DMDHRGND  4115 non-null   float64
 34  DMDHRAGZ  4124 non-null   float64
 35  DMDHREDZ  3746 non-null   float64
 36  DMDHRMAZ  4020 non-null   float64
 37  DMDHSEDZ  2127 non-null   float64
 38  WTINT2YR  11933 non-null  float64
 39  WTMEC2YR  11933 non-null  float64
dtypes: float64(40)
memory usage: 8.4 MB

Take the columns SEQN, age, gender, race, education, and ratio of family income to poverty:

In [31]:
demos = demos[['SEQN', 'RIAGENDR', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 'INDFMPIR']]
# rename the demo columns
demos.columns = ['SEQN', 'gender', 'age', 'race', 'education', 'income_ratio']
demos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27493 entries, 0 to 27492
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SEQN          27493 non-null  float64
 1   gender        27493 non-null  float64
 2   age           27493 non-null  float64
 3   race          27493 non-null  float64
 4   education     17026 non-null  float64
 5   income_ratio  23251 non-null  float64
dtypes: float64(6)
memory usage: 1.3 MB

Merge demographics with our dietary intake data:

In [32]:
# check to see
diff = set(df['SEQN']).difference(demos['SEQN'])
print(f"{len(diff)} SEQNs missing from demographics that were in dietary intake")
diff2 = set(demos['SEQN']).difference(df['SEQN'])
print(f"{len(diff2)} SEQNs missing from dietary intake that were in demographics")

# Now join our demos with dietary intake data
df = df.merge(demos, on='SEQN', how='left')
df.info()

0 SEQNs missing from demographics that were in dietary intake
8107 SEQNs missing from dietary intake that were in demographics
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19386 entries, 0 to 19385
Data columns (total 45 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SEQN                       19386 non-null  int64
 1   weight_2d                  19386 non-null  float64
 2   grams                      19386 non-null  float64
 3   f_total_(cup_eq)           19386 non-null  float64
 4   f_citmlb_(cup_eq)          19386 non-null  float64
 5   f_other_(cup_eq)           19386 non-null  float64
 6   f_juice_(cup_eq)           19386 non-null  float64
 7   v_total_(cup_eq)           19386 non-null  float64
 8   v_drkgr_(cup_eq)           19386 non-null  float64
 9   v_redor_total_(cup_eq)     19386 non-null  float64
 10  v_redor_tomato_(cup_eq)    19386 non-null  float64
 11  v_redor_other_(cup_eq)     19386 non-null  float64
 12  v_starchy_total_(cup_eq)   19386 non-null  float64
 13  v_starchy_potato_(cup_eq)  19386 non-null  float64
 14  v_starchy_other_(cup_eq)   19386 non-null  float64
 15  v_other_(cup_eq)           19386 non-null  float64
 16  v_legumes_(cup_eq)         19386 non-null  float64
 17  g_total_(oz_eq)            19386 non-null  float64
 18  g_whole_(oz_eq)            19386 non-null  float64
 19  g_refined_(oz_eq)          19386 non-null  float64
 20  pf_total_(oz_eq)           19386 non-null  float64
 21  pf_mps_total_(oz_eq)       19386 non-null  float64
 22  pf_meat_(oz_eq)            19386 non-null  float64
 23  pf_curedmeat_(oz_eq)       19386 non-null  float64
 24  pf_organ_(oz_eq)           19386 non-null  float64
 25  pf_poult_(oz_eq)           19386 non-null  float64
 26  pf_seafd_hi_(oz_eq)        19386 non-null  float64
 27  pf_seafd_low_(oz_eq)       19386 non-null  float64
 28  pf_eggs_(oz_eq)            19386 non-null  float64
 29  pf_soy_(oz_eq)             19386 non-null  float64
 30  pf_nutsds_(oz_eq)          19386 non-null  float64
 31  pf_legumes_(oz_eq)         19386 non-null  float64
 32  d_total_(cup_eq)           19386 non-null  float64
 33  d_milk_(cup_eq)            19386 non-null  float64
 34  d_yogurt_(cup_eq)          19386 non-null  float64
 35  d_cheese_(cup_eq)          19386 non-null  float64
 36  oils_(grams)               19386 non-null  float64
 37  solid_fats_(grams)         19386 non-null  float64
 38  add_sugars_(tsp_eq)        19386 non-null  float64
 39  a_drinks_(no._of_drinks)   19386 non-null  float64
 40  gender                     19386 non-null  float64
 41  age                        19386 non-null  float64
 42  race                       19386 non-null  float64
 43  education                  12503 non-null  float64
 44  income_ratio               17129 non-null  float64
dtypes: float64(44), int64(1)
memory usage: 6.7 MB

Recode demographic variables. Coding schemes are available at the NHANES website in the documentation beside each dataset. We are splitting the income to poverty ratio into quartiles.

In [33]:
# Gender
df['gender'] = df['gender'].apply(lambda x: ('Female' if x == 2 else 'Male'))

# Education
df['education'] = df['education'].apply(
  lambda x: (
    'Less than 9th grade' if x == 1
    else '9th to 11th grade' if x == 2
    else 'High school/GED' if x == 3
    else 'Some college or AA' if x == 4
    else 'College graduate or above' if x == 5
    else "Don\'t know"
  )
)

# Race
df['race'] = df['race'].apply(
  lambda x: (
    'Mexican American' if x == 1
    else 'Other Hispanic' if x == 2
    else 'White' if x == 3
    else 'Black' if x == 4
    else 'Asian' if x == 5
    else 'Other or Multi'
  )
)

# Income to poverty ratio
df['income_ratio_qs'] = pd.qcut(
  x=df['income_ratio'],
  q=5,
  duplicates='drop',
  labels=['Lowest', 'Low', 'Medium', 'High', 'Highest']
)
df.head()

,SEQN,weight_2d,grams,f_total_(cup_eq),f_citmlb_(cup_eq),f_other_(cup_eq),f_juice_(cup_eq),v_total_(cup_eq),v_drkgr_(cup_eq),v_redor_total_(cup_eq),...,oils_(grams),solid_fats_(grams),add_sugars_(tsp_eq),a_drinks_(no._of_drinks),gender,age,race,education,income_ratio,income_ratio_qs
0,109263,8904.03,2827.75,1.60,0.00,0.00,1.60,0.36,0.00,0.15,...,25.41,82.28,49.04,0.0,Male,2.0,Other or Multi,Don't know,4.66,High
1,109264,3626.88,4177.01,0.00,0.00,0.00,0.00,4.17,0.86,1.03,...,119.77,107.89,43.70,0.0,Female,13.0,Mexican American,Don't know,0.83,Lowest
2,109265,17806.00,4081.76,2.28,0.67,0.41,1.20,3.34,0.21,0.38,...,104.86,168.54,45.45,0.0,Male,2.0,White,Don't know,3.06,High
3,109266,2994.10,9866.51,0.87,0.70,0.17,0.00,3.98,0.07,0.60,...,82.41,40.39,14.80,0.0,Female,29.0,Other or Multi,College graduate or above,5.00,Highest
4,109269,9115.96,1906.30,0.04,0.00,0.00,0.04,1.85,0.00,0.10,...,175.65,87.97,18.82,0.0,Male,2.0,Other Hispanic,Don't know,0.96,Low

In [34]:
# JEANNINE ADDED
# From the lists of missing SEQN values as described determined above
# missing_from_dr2_17, missing_from_dr1_17, missing_from_dr2_21, missing_from_dr1_21

# Create a DataFrame containing only the missing SEQN values
missing_seqn_df = demos[demos['SEQN'].isin(missing_from_dr2_17 + missing_from_dr1_17 + missing_from_dr2_21 + missing_from_dr1_21)]

# Display the demographic information of the missing SEQN values
print(missing_seqn_df)

           SEQN  gender   age  race  education  income_ratio
17     109280.0     2.0   2.0   1.0        NaN          1.71
33     109296.0     1.0  10.0   4.0        NaN          2.34
43     109306.0     1.0   2.0   3.0        NaN          1.02
44     109307.0     1.0  47.0   6.0        1.0          1.38
46     109309.0     1.0   5.0   2.0        NaN          0.87
...         ...     ...   ...   ...        ...           ...
27444  142262.0     2.0   8.0   3.0        NaN          0.91
27456  142274.0     2.0   7.0   3.0        NaN          0.81
27462  142280.0     2.0  23.0   7.0        4.0          1.40
27468  142286.0     1.0  70.0   3.0        3.0          2.87
27482  142300.0     2.0  46.0   1.0        3.0          0.68

[2680 rows x 6 columns]

 ## Calculate PBP Consumption

Get column names for consumption of protein/fats from PBPs (legumes, nuts and seeds, and soy). Then add them together to get total ounces of PBP consumption per person. And also calculating PBP consumption as a proportion of total protein consumption.

In [35]:
# Keywords we will use to find column names
keywords = ['pf_legumes', 'pf_nutsds', 'pf_soy']
pbp_columns = [col for col in df.columns if any(keyword in col for keyword in keywords)]

# Condition: Any of the selected columns has a value greater than 1
# df['has_pbp'] = (df[pbp_columns] > 1).any(axis=1)
# print(df.head())

# Check that this worked
# df[df['has_pbp'] == True][pbp_columns + ['has_pbp']].head(10)

# Sum the total oz equivalents of pbp in a new column
df['oz_pbp'] = df[pbp_columns].sum(axis=1)

# Check that this worked - oz from pbp should be sum of the three pbp cols
print(df[['SEQN', 'oz_pbp'] + pbp_columns].head())

     SEQN  oz_pbp  pf_soy_(oz_eq)  pf_nutsds_(oz_eq)  pf_legumes_(oz_eq)
0  109263    1.99            0.00               1.99                0.00
1  109264    0.52            0.00               0.52                0.00
2  109265    0.04            0.04               0.00                0.00
3  109266    1.10            0.20               0.44                0.46
4  109269    0.00            0.00               0.00                0.00

Check how many people consumed 0 protein total (excludes legumes), or mps total (meat, poultry, seafood)

In [36]:
print(f"{df[df['pf_total_(oz_eq)'] == 0].shape[0]} \
people consumed no total protein (excluding legumes)")

print(f"{df[df['pf_mps_total_(oz_eq)'] == 0].shape[0]} \
people consumed no meat, poultry, seafood protein")

print(f"{df[df['pf_total_(oz_eq)'] + df['pf_legumes_(oz_eq)']== 0].shape[0]} \
people consumed no total protein OR legume protein")

554 people consumed no total protein (excluding legumes)
1220 people consumed no meat, poultry, seafood protein
509 people consumed no total protein OR legume protein

Note that the pf_total category excludes legumes, presumably because these are not the same quality as meat proteins? This is worth looking into more to see whether it is fair for us to make this comparison. We might be better off using the grams of protein from the NHANES survey instead?

Anyhow, if we want to get a proportion of ounces of PBP out of total proteins, we should compare PBPs to pf_total + pf_legumes

In [37]:
# Make our own total protein variable, adding total protein to legumes
df['pf_total_calc'] = df['pf_total_(oz_eq)'] + df['pf_legumes_(oz_eq)']
df['prop_pbp'] = np.where(
    df['pf_total_calc'] == 0,
    np.nan,
    df['oz_pbp'] / (df['pf_total_calc'])
)

print(df[['SEQN', 'oz_pbp', 'pf_total_(oz_eq)', 'prop_pbp']].head(10))

# Check how many NaNs there are in prop_pbp
print(f'\nThere are {df["prop_pbp"].isna().sum()} NaNs in prop_pbp')

     SEQN  oz_pbp  pf_total_(oz_eq)  prop_pbp
0  109263    1.99              8.22  0.242092
1  109264    0.52             14.02  0.037090
2  109265    0.04              9.67  0.004137
3  109266    1.10              2.59  0.360656
4  109269    0.00              2.51  0.000000
5  109270    0.00              9.23  0.000000
6  109271    0.04             17.21  0.002324
7  109272    0.00              0.00       NaN
8  109273    0.00              6.83  0.000000
9  109274    0.00              6.09  0.000000

There are 509 NaNs in prop_pbp

509 people are NA, which means the sum of their pf_total and pf_legumes was 0.

Let's check summary stats on the proportions and make sure they make sense

In [38]:
df['prop_pbp'].describe()

count    18877.000000
mean         0.248736
std          0.285101
min          0.000000
25%          0.000000
50%          0.134887
75%          0.444676
max          1.000000
Name: prop_pbp, dtype: float64

This is capping out at 1, which is perfect.

## Tying in Biomarkers

In [7]:
# This is 2021 - 2023 Data, need to connect w/ prior wave

# Note: moved import to top of script

# import total cholesterol
tchol_17, meta = pyreadstat.read_xport('data/raw/nhanes_2017_2020/P_TCHOL.xpt')
tchol_21, meta = pyreadstat.read_xport('data/raw/nhanes_2021_2023/TCHOL_L.xpt')

# import glycohemoglobin (glyco_HG)
glyco_HG_17, meta = pyreadstat.read_xport('data/raw/nhanes_2017_2020/P_GHB.xpt')
glyco_HG_21, meta = pyreadstat.read_xport('data/raw/nhanes_2021_2023/GHB_L.xpt')

# import vitamin D ---- dammit vitamin D doesn't exist for 2017 wave
#vit_d_17, meta= pyreadstat.read_xport('data/raw/nhanes_2017_2020/VID_L.xpt')
vit_d_21, meta= pyreadstat.read_xport('data/raw/nhanes_2021_2023/VID_L.xpt')

# import lead, cadmium, mercury, selenium, manganese in blood
heavy_met_17, meta=pyreadstat.read_xport('data/raw/nhanes_2017_2020/P_PBCD.xpt')
heavy_met_21, meta=pyreadstat.read_xport('data/raw/nhanes_2021_2023/PBCD_L.xpt')

# import ferritin   -its being weird lets try a different method
#frtn, meta= pyreadstat.read_xport('data/raw/nhanes_2021_2023/FERTIN_L.xpt')

frtn_17= pd.read_sas("data/raw/nhanes_2017_2020/P_FERTIN.xpt", format='xport')
frtn_21= pd.read_sas("data/raw/nhanes_2021_2023/FERTIN_L.xpt", format='xport')

# Import Blood Pressure
bp_17, meta=pyreadstat.read_xport('data/raw/nhanes_2017_2020/P_BPXO.xpt')
bp_21, meta=pyreadstat.read_xport('data/raw/nhanes_2021_2023/BPXO_L.xpt')

In [ ]:
tchol_21.head()
# LBXTC is the total cholesterol in serum (mg/dL)
# tchol is the data det that will retain the weight (WTPH2YR) since they can't merge with all them having it
# LBDTCSI is total cholesterol (mmol/L)
tchol_21.describe()
#tchol_17.head()

                SEQN        WTPH2YR        LBXTC      LBDTCSI
count    8068.000000    8068.000000  6890.000000  6890.000000
mean   136360.136589   37744.395761   181.541074     4.694643
std      3448.491865   30937.952799    42.316140     1.094357
min    130378.000000       0.000000    62.000000     1.600000
25%    133345.500000   18092.615464   151.000000     3.900000
50%    136391.000000   30264.726858   178.000000     4.600000
75%    139336.250000   49006.051233   207.000000     5.350000
max    142310.000000  241728.857241   438.000000    11.330000

In [8]:
glyco_HG_21.head()
#LBXGH is glycohemoglobin %
glyco_HG_21.describe()
glyco_HG_17_short=glyco_HG_17[['SEQN','LBXGH']]
glyco_HG_21_short=glyco_HG_21[['SEQN','LBXGH']]
glyco_HG_21_short.head()
glyco_HG_17_short.head()

       SEQN  LBXGH
0  109264.0    5.3
1  109266.0    5.2
2  109271.0    5.6
3  109273.0    5.1
4  109274.0    5.7

In [ ]:
# Aint using Vitamin D since '17 doesn't have it
vit_d_21.head()
vit_d_21.describe()
#LBXVIDMS is 25-hydroxyvitamin D2 + D3 (combined vitamin counts)
vit_d_21_short = vit_d_21[['SEQN','LBXVIDMS']]

In [ ]:
vit_d_21_short.head()
#vit_d_short.describe()

       SEQN  LBXVIDMS
0  130378.0      58.9
1  130379.0      60.5
2  130380.0      39.4
3  130381.0       NaN
4  130382.0       NaN

In [9]:
heavy_met_21.head()
# LBDBPBSI is blood lead (umol/L)
# LBXBCD - Blood cadmium (ug/L)
# LBXTHG - Blood mercury, total (ug/L)
# LBXBSE - Blood selenium (ug/L)
# LBXBMN - Blood manganese (ug/L)
# selenium is good for you, not sure why lumped in here

# Lets condense the data frame
heavy_met_17_short = heavy_met_17[['SEQN','LBDBPBSI','LBXBCD','LBXTHG','LBXBSE','LBXBMN']]
heavy_met_21_short = heavy_met_21[['SEQN','LBDBPBSI','LBXBCD','LBXTHG','LBXBSE','LBXBMN']]
heavy_met_21_short.head()
#num_na_rows = heavy_met_short.isna().any(axis=1).sum()
#print(f"Number of rows with at least one NA: {num_na_rows}")

       SEQN  LBDBPBSI  LBXBCD  LBXTHG  LBXBSE  LBXBMN
0  130378.0     0.136   0.117    1.01   189.2   10.94
1  130379.0     0.099   0.313    9.64   192.3    7.74
2  130380.0     0.019   0.270    0.55   160.5   11.93
3  130381.0       NaN     NaN     NaN     NaN     NaN
4  130382.0     0.030   0.136    0.12   151.9   15.49

In [10]:
frtn_17.head()
frtn_21.head()
# LBDFERSI - ferritin (ug/L)
frtn_21_short=frtn_21[['SEQN','LBDFERSI']]
frtn_21_short.head()
frtn_17_short=frtn_17[['SEQN','LBDFERSI']]
frtn_17_short.head()
num_na_rows = frtn_21_short.isna().any(axis=1).sum()
print(f"Number of rows with at least one NA: {num_na_rows}")

Number of rows with at least one NA: 614

In [11]:
# Blood Pressure

#bp.head()

# Too many readings,lets average diastolic and systolic

# Create a new DataFrame with just SEQN
bp_17_avg = bp_17[['SEQN']].copy()
bp_21_avg = bp_21[['SEQN']].copy()

# Calculate average systolic and diastolic BP for each participant
bp_17_avg['systolic_avg'] = bp_17[['BPXOSY1', 'BPXOSY2', 'BPXOSY3']].mean(axis=1, skipna=True)
bp_17_avg['diastolic_avg'] = bp_17[['BPXODI1', 'BPXODI2', 'BPXODI3']].mean(axis=1, skipna=True)
bp_21_avg['systolic_avg'] = bp_21[['BPXOSY1', 'BPXOSY2', 'BPXOSY3']].mean(axis=1, skipna=True)
bp_21_avg['diastolic_avg'] = bp_21[['BPXODI1', 'BPXODI2', 'BPXODI3']].mean(axis=1, skipna=True)

# Preview the result
bp_17_avg.head()
bp_21_avg.head()
#num_na_rows = bp_avg.isna().any(axis=1).sum()
#print(f"Number of rows with at least one NA: {num_na_rows}")

       SEQN  systolic_avg  diastolic_avg
0  130378.0    132.666667      96.000000
1  130379.0    117.000000      78.666667
2  130380.0    109.000000      78.333333
3  130386.0    115.000000      73.666667
4  130387.0    141.333333      76.000000

In [12]:
# Combining Biomarkers into common data frame

# I am interested in inner join (retains SEQN that have input for the biomarkers)
# Lets first use

from functools import reduce

# Put all biomarker DataFrames in a list
biomarker_17_df = [tchol_17, glyco_HG_17_short, heavy_met_17_short,bp_17_avg, frtn_17_short]
biomarker_21_df = [tchol_21, glyco_HG_21_short, heavy_met_21_short,bp_21_avg, frtn_21_short]

# Merge them on 'SEQN' w/ inner or outer
# INNER: only keep participants present in all biomarker files
# OUTER: keep all SEQNs that appear in at least one

biomarkers_17 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), biomarker_17_df)
biomarkers_21 = reduce(lambda left, right: pd.merge(left, right, on='SEQN', how='outer'), biomarker_21_df)

# Preview
print(biomarkers_21.shape)
biomarkers_21.head()

# How many NANs? - 7077 rows with at least 1 nan
num_na_rows = biomarkers_21.isna().any(axis=1).sum()
print(f"Number of rows with at least one NA: {num_na_rows}")

biomarkers_21.isna().sum()

# Ferritin has a load of NAs; 6777/8727 I think we need to omit it

(8727, 13)
Number of rows with at least one NA: 7151

SEQN                0
WTPH2YR           659
LBXTC            1837
LBDTCSI          1837
LBXGH            2012
LBDBPBSI         1141
LBXBCD           1141
LBXTHG           1141
LBXBSE           1141
LBXBMN           1141
systolic_avg     1209
diastolic_avg    1209
LBDFERSI         6777
dtype: int64

In [13]:
# Lets tidy up the biomarker df
biomarkers_17 = biomarkers_17.rename(columns={
    'SEQN': 'SEQN',
    'WTPH2YR': 'weight_2yr',
    'LBXTC': 'total_cholesterol',
    'LBDTCSI': 'cholesterol_std_dev',
    'LBXGH': 'glycohemoglobin',
    'LBDBPBSI': 'blood_lead',
    'LBXBCD': 'blood_cadmium',
    'LBXTHG': 'blood_mercury',
    'LBXBSE': 'blood_selenium',
    'LBXBMN': 'blood_manganese',
    'systolic_avg': 'avg_systolic_bp',
    'diastolic_avg': 'avg_diastolic_bp',
    'LBDFERSI': 'serum_ferritin'
})
biomarkers_21 = biomarkers_21.rename(columns={
    'SEQN': 'SEQN',
    'WTPH2YR': 'weight_21_2yr',
    'LBXTC': 'total_cholesterol',
    'LBDTCSI': 'cholesterol_std_dev',
    'LBXGH': 'glycohemoglobin',
    'LBXVIDMS': 'vitamin_d',
    'LBDBPBSI': 'blood_lead',
    'LBXBCD': 'blood_cadmium',
    'LBXTHG': 'blood_mercury',
    'LBXBSE': 'blood_selenium',
    'LBXBMN': 'blood_manganese',
    'systolic_avg': 'avg_systolic_bp',
    'diastolic_avg': 'avg_diastolic_bp',
    'LBDFERSI': 'serum_ferritin'
})
#biomarkers_21.head()
biomarkers_17.head()

,SEQN,total_cholesterol,cholesterol_std_dev,glycohemoglobin,blood_lead,blood_cadmium,blood_mercury,blood_selenium,blood_manganese,avg_systolic_bp,avg_diastolic_bp,serum_ferritin
0,109263.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264.0,166.0,4.29,5.3,0.017,0.100,0.20,167.69,15.21,108.0,67.000000,15.7
2,109265.0,NaN,NaN,NaN,NaN,0.071,0.20,168.27,10.62,NaN,NaN,42.1
3,109266.0,195.0,5.04,5.2,0.082,0.223,0.36,167.51,8.85,99.0,54.333333,11.6
4,109269.0,NaN,NaN,NaN,NaN,0.071,0.20,157.94,9.61,NaN,NaN,41.7

In [14]:
# Lets try and merge biomarkers '17 and biomarkers '21

biomarkers_total = pd.concat([biomarkers_17, biomarkers_21], ignore_index=True)
biomarkers_total.info()
biomarkers_total.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22499 entries, 0 to 22498
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SEQN                 22499 non-null  float64
 1   total_cholesterol    17718 non-null  float64
 2   cholesterol_std_dev  17718 non-null  float64
 3   glycohemoglobin      16452 non-null  float64
 4   blood_lead           18693 non-null  float64
 5   blood_cadmium        19688 non-null  float64
 6   blood_mercury        19688 non-null  float64
 7   blood_selenium       19688 non-null  float64
 8   blood_manganese      19688 non-null  float64
 9   avg_systolic_bp      17871 non-null  float64
 10  avg_diastolic_bp     17871 non-null  float64
 11  serum_ferritin       12507 non-null  float64
 12  weight_21_2yr        8068 non-null   float64
dtypes: float64(13)
memory usage: 2.2 MB

,SEQN,total_cholesterol,cholesterol_std_dev,glycohemoglobin,blood_lead,blood_cadmium,blood_mercury,blood_selenium,blood_manganese,avg_systolic_bp,avg_diastolic_bp,serum_ferritin,weight_21_2yr
0,109263.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264.0,166.0,4.29,5.3,0.017,0.100,0.20,167.69,15.21,108.000000,67.000000,15.70,NaN
2,109265.0,NaN,NaN,NaN,NaN,0.071,0.20,168.27,10.62,NaN,NaN,42.10,NaN
3,109266.0,195.0,5.04,5.2,0.082,0.223,0.36,167.51,8.85,99.000000,54.333333,11.60,NaN
4,109269.0,NaN,NaN,NaN,NaN,0.071,0.20,157.94,9.61,NaN,NaN,41.70,NaN
5,109270.0,103.0,2.66,NaN,0.058,0.141,0.20,143.47,8.86,124.666667,73.333333,NaN,NaN
6,109271.0,147.0,3.80,5.6,0.072,2.310,0.42,196.70,6.95,107.000000,67.000000,196.00,NaN
7,109273.0,164.0,4.24,5.1,0.033,0.840,0.51,196.63,5.75,113.666667,67.333333,313.00,NaN
8,109274.0,105.0,2.72,5.7,0.019,0.071,0.20,181.73,3.79,134.000000,70.000000,366.00,NaN
9,109275.0,167.0,4.32,NaN,0.037,0.110,0.20,206.31,8.69,NaN,NaN,NaN,NaN
10,109277.0,129.0,3.34,5.3,0.010,0.100,0.20,154.79,15.86,102.333333,55.000000,45.20,NaN
11,109278.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,109279.0,182.0,4.71,5.0,0.011,0.140,0.28,195.39,10.03,101.333333,61.333333,61.50,NaN
13,109280.0,NaN,NaN,NaN,NaN,0.071,0.20,135.88,10.28,NaN,NaN,74.00,NaN
14,109282.0,233.0,6.03,5.5,0.057,0.210,0.31,204.25,10.77,139.333333,72.666667,49.80,NaN
15,109284.0,212.0,5.48,5.6,0.039,0.270,0.54,190.76,12.68,NaN,NaN,10.10,NaN
16,109285.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138.000000,80.000000,NaN,NaN
17,109286.0,236.0,6.10,5.7,0.036,1.030,1.44,188.15,16.52,NaN,NaN,4.42,NaN
18,109287.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.000000,58.333333,NaN,NaN
19,109288.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#df.head()
df.describe()
df.shape
biomarkers_total.shape

# compare biomarkers to df

missing_in_df = biomarkers_total[~biomarkers_total['SEQN'].isin(df['SEQN'])]
missing_in_df

,SEQN,total_cholesterol,cholesterol_std_dev,glycohemoglobin,blood_lead,blood_cadmium,blood_mercury,blood_selenium,blood_manganese,avg_systolic_bp,avg_diastolic_bp,serum_ferritin,weight_21_2yr
20,109289.0,NaN,NaN,NaN,NaN,0.071,0.20,158.72,10.15,NaN,NaN,21.4,NaN
23,109292.0,172.0,4.45,6.4,0.075,0.269,0.20,182.14,6.33,138.000000,97.000000,483.0,NaN
30,109301.0,110.0,2.84,NaN,0.015,0.110,0.20,169.45,7.82,NaN,NaN,NaN,NaN
45,109318.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,109353.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137.333333,79.666667,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22482,142290.0,181.0,4.68,5.4,0.067,1.580,0.70,160.00,9.14,133.666667,84.666667,NaN,76402.575652
22484,142293.0,NaN,NaN,5.5,0.020,0.168,1.87,162.80,5.36,129.000000,89.000000,NaN,77996.863290
22493,142305.0,180.0,4.65,6.0,0.016,0.226,0.12,193.40,7.11,143.666667,79.333333,NaN,49710.929024
22494,142306.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
22496,142308.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.000000,69.333333,NaN,0.000000

In [40]:
df.head()

,SEQN,weight_2d,grams,f_total_(cup_eq),f_citmlb_(cup_eq),f_other_(cup_eq),f_juice_(cup_eq),v_total_(cup_eq),v_drkgr_(cup_eq),v_redor_total_(cup_eq),...,a_drinks_(no._of_drinks),gender,age,race,education,income_ratio,income_ratio_qs,oz_pbp,pf_total_calc,prop_pbp
0,109263,8904.03,2827.75,1.60,0.00,0.00,1.60,0.36,0.00,0.15,...,0.0,Male,2.0,Other or Multi,Don't know,4.66,High,1.99,8.22,0.242092
1,109264,3626.88,4177.01,0.00,0.00,0.00,0.00,4.17,0.86,1.03,...,0.0,Female,13.0,Mexican American,Don't know,0.83,Lowest,0.52,14.02,0.037090
2,109265,17806.00,4081.76,2.28,0.67,0.41,1.20,3.34,0.21,0.38,...,0.0,Male,2.0,White,Don't know,3.06,High,0.04,9.67,0.004137
3,109266,2994.10,9866.51,0.87,0.70,0.17,0.00,3.98,0.07,0.60,...,0.0,Female,29.0,Other or Multi,College graduate or above,5.00,Highest,1.10,3.05,0.360656
4,109269,9115.96,1906.30,0.04,0.00,0.00,0.04,1.85,0.00,0.10,...,0.0,Male,2.0,Other Hispanic,Don't know,0.96,Low,0.00,2.51,0.000000

In [42]:
#Merging Biomarkers + df
#first lets make SEQN in biomarkers integer to conform to df
biomarkers_total['SEQN'] = biomarkers_total['SEQN'].astype(int)

#Lets do a left merge (retain all that of df and maybe kick out some biomarkers)
# Note: Chris switched order here, df should be on left so we retain all SEQNs
df_biomarkers = pd.merge(df, biomarkers_total, on="SEQN", how="left")
df_biomarkers.shape

(19386, 61)

In [43]:
df_biomarkers.head()

,SEQN,weight_2d,grams,f_total_(cup_eq),f_citmlb_(cup_eq),f_other_(cup_eq),f_juice_(cup_eq),v_total_(cup_eq),v_drkgr_(cup_eq),v_redor_total_(cup_eq),...,glycohemoglobin,blood_lead,blood_cadmium,blood_mercury,blood_selenium,blood_manganese,avg_systolic_bp,avg_diastolic_bp,serum_ferritin,weight_21_2yr
0,109263,8904.03,2827.75,1.60,0.00,0.00,1.60,0.36,0.00,0.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264,3626.88,4177.01,0.00,0.00,0.00,0.00,4.17,0.86,1.03,...,5.3,0.017,0.100,0.20,167.69,15.21,108.0,67.000000,15.7,NaN
2,109265,17806.00,4081.76,2.28,0.67,0.41,1.20,3.34,0.21,0.38,...,NaN,NaN,0.071,0.20,168.27,10.62,NaN,NaN,42.1,NaN
3,109266,2994.10,9866.51,0.87,0.70,0.17,0.00,3.98,0.07,0.60,...,5.2,0.082,0.223,0.36,167.51,8.85,99.0,54.333333,11.6,NaN
4,109269,9115.96,1906.30,0.04,0.00,0.00,0.04,1.85,0.00,0.10,...,NaN,NaN,0.071,0.20,157.94,9.61,NaN,NaN,41.7,NaN

In [44]:
# Interrogate this big old biomakers + df

num_na_rows = df_biomarkers.isna().any(axis=1).sum()
print(f"Number of rows with at least one NA: {num_na_rows}")

df_biomarkers.isna().sum()

Number of rows with at least one NA: 18364

SEQN                     0
weight_2d                0
grams                    0
f_total_(cup_eq)         0
f_citmlb_(cup_eq)        0
                     ...
blood_manganese       2635
avg_systolic_bp       3914
avg_diastolic_bp      3914
serum_ferritin        8385
weight_21_2yr        13223
Length: 61, dtype: int64

In [45]:
# Dropping NAs yields us with 1022 complete rows ~ 1/20th the size of df
cleaned_df_biomarkers=df_biomarkers.dropna()
# only 1022 complete rows exist
cleaned_df_biomarkers.shape
cleaned_df_biomarkers.head()

,SEQN,weight_2d,grams,f_total_(cup_eq),f_citmlb_(cup_eq),f_other_(cup_eq),f_juice_(cup_eq),v_total_(cup_eq),v_drkgr_(cup_eq),v_redor_total_(cup_eq),...,glycohemoglobin,blood_lead,blood_cadmium,blood_mercury,blood_selenium,blood_manganese,avg_systolic_bp,avg_diastolic_bp,serum_ferritin,weight_21_2yr
12636,130380,51989.60,8516.54,2.77,1.14,1.00,0.63,1.99,0.0,0.43,...,6.2,0.019,0.270,0.55,160.5,11.93,109.000000,78.333333,13.3,85328.844519
12642,130390,0.00,2395.50,0.76,0.76,0.00,0.00,4.01,0.0,1.17,...,5.9,0.016,0.182,0.12,158.7,12.52,111.333333,74.666667,52.1,61427.007628
12650,130403,0.00,3603.25,0.91,0.00,0.91,0.00,6.07,0.0,0.93,...,4.9,0.010,0.118,0.12,182.1,9.93,100.000000,60.000000,38.0,66179.181278
12665,130433,37629.55,4134.82,2.06,1.05,0.15,0.86,2.15,0.0,0.22,...,5.7,0.014,0.079,0.31,188.9,7.15,97.333333,60.000000,43.5,68654.759936
12666,130437,0.00,4252.67,0.72,0.00,0.72,0.00,1.32,0.0,0.00,...,5.5,0.005,0.072,0.12,198.1,8.27,106.333333,70.000000,166.0,37249.286773

In [ ]:
# Thresholding to drop missingest columns
threshold = 0.5  # Drop columns where >50% data is missing
df_biomarkers_thresh = df_biomarkers.loc[:, df_biomarkers.isnull().mean() < threshold]

print(df_biomarkers_thresh.shape)
print(df_biomarkers.shape)
# this did not appear to drop, lets move forward with what we got

(19386, 60)
(19386, 61)

## Save Data

Let's save this as a csv so we can play around with it elsewhere:

In [ ]:
# One last check of data frame
df_biomarkers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19386 entries, 0 to 19385
Data columns (total 61 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SEQN                       19386 non-null  int64
 1   weight_2d                  19386 non-null  float64
 2   grams                      19386 non-null  float64
 3   f_total_(cup_eq)           19386 non-null  float64
 4   f_citmlb_(cup_eq)          19386 non-null  float64
 5   f_other_(cup_eq)           19386 non-null  float64
 6   f_juice_(cup_eq)           19386 non-null  float64
 7   v_total_(cup_eq)           19386 non-null  float64
 8   v_drkgr_(cup_eq)           19386 non-null  float64
 9   v_redor_total_(cup_eq)     19386 non-null  float64
 10  v_redor_tomato_(cup_eq)    19386 non-null  float64
 11  v_redor_other_(cup_eq)     19386 non-null  float64
 12  v_starchy_total_(cup_eq)   19386 non-null  float64
 13  v_starchy_potato_(cup_eq)  19386 non-null  float64
 14  v_starchy_other_(cup_eq)   19386 non-null  float64
 15  v_other_(cup_eq)           19386 non-null  float64
 16  v_legumes_(cup_eq)         19386 non-null  float64
 17  g_total_(oz_eq)            19386 non-null  float64
 18  g_whole_(oz_eq)            19386 non-null  float64
 19  g_refined_(oz_eq)          19386 non-null  float64
 20  pf_total_(oz_eq)           19386 non-null  float64
 21  pf_mps_total_(oz_eq)       19386 non-null  float64
 22  pf_meat_(oz_eq)            19386 non-null  float64
 23  pf_curedmeat_(oz_eq)       19386 non-null  float64
 24  pf_organ_(oz_eq)           19386 non-null  float64
 25  pf_poult_(oz_eq)           19386 non-null  float64
 26  pf_seafd_hi_(oz_eq)        19386 non-null  float64
 27  pf_seafd_low_(oz_eq)       19386 non-null  float64
 28  pf_eggs_(oz_eq)            19386 non-null  float64
 29  pf_soy_(oz_eq)             19386 non-null  float64
 30  pf_nutsds_(oz_eq)          19386 non-null  float64
 31  pf_legumes_(oz_eq)         19386 non-null  float64
 32  d_total_(cup_eq)           19386 non-null  float64
 33  d_milk_(cup_eq)            19386 non-null  float64
 34  d_yogurt_(cup_eq)          19386 non-null  float64
 35  d_cheese_(cup_eq)          19386 non-null  float64
 36  oils_(grams)               19386 non-null  float64
 37  solid_fats_(grams)         19386 non-null  float64
 38  add_sugars_(tsp_eq)        19386 non-null  float64
 39  a_drinks_(no._of_drinks)   19386 non-null  float64
 40  gender                     19386 non-null  object
 41  age                        19386 non-null  float64
 42  race                       19386 non-null  object
 43  education                  19386 non-null  object
 44  income_ratio               17129 non-null  float64
 45  income_ratio_qs            17129 non-null  category
 46  oz_pbp                     19386 non-null  float64
 47  pf_total_calc              19386 non-null  float64
 48  prop_pbp                   18877 non-null  float64
 49  total_cholesterol          15159 non-null  float64
 50  cholesterol_std_dev        15159 non-null  float64
 51  glycohemoglobin            14168 non-null  float64
 52  blood_lead                 15933 non-null  float64
 53  blood_cadmium              16751 non-null  float64
 54  blood_mercury              16751 non-null  float64
 55  blood_selenium             16751 non-null  float64
 56  blood_manganese            16751 non-null  float64
 57  avg_systolic_bp            15472 non-null  float64
 58  avg_diastolic_bp           15472 non-null  float64
 59  serum_ferritin             11001 non-null  float64
 60  weight_21_2yr              6163 non-null   float64
dtypes: category(1), float64(56), int64(1), object(3)
memory usage: 8.9+ MB

In [ ]:
# Remove weights_21, looks like something hinky happened with it
# And we are already set with weight_2d
df_biomarkers = df_biomarkers.drop('weight_21_2yr', axis=1)
print(df_biomarkers.columns)

Index(['SEQN', 'weight_2d', 'grams', 'f_total_(cup_eq)', 'f_citmlb_(cup_eq)',
       'f_other_(cup_eq)', 'f_juice_(cup_eq)', 'v_total_(cup_eq)',
       'v_drkgr_(cup_eq)', 'v_redor_total_(cup_eq)', 'v_redor_tomato_(cup_eq)',
       'v_redor_other_(cup_eq)', 'v_starchy_total_(cup_eq)',
       'v_starchy_potato_(cup_eq)', 'v_starchy_other_(cup_eq)',
       'v_other_(cup_eq)', 'v_legumes_(cup_eq)', 'g_total_(oz_eq)',
       'g_whole_(oz_eq)', 'g_refined_(oz_eq)', 'pf_total_(oz_eq)',
       'pf_mps_total_(oz_eq)', 'pf_meat_(oz_eq)', 'pf_curedmeat_(oz_eq)',
       'pf_organ_(oz_eq)', 'pf_poult_(oz_eq)', 'pf_seafd_hi_(oz_eq)',
       'pf_seafd_low_(oz_eq)', 'pf_eggs_(oz_eq)', 'pf_soy_(oz_eq)',
       'pf_nutsds_(oz_eq)', 'pf_legumes_(oz_eq)', 'd_total_(cup_eq)',
       'd_milk_(cup_eq)', 'd_yogurt_(cup_eq)', 'd_cheese_(cup_eq)',
       'oils_(grams)', 'solid_fats_(grams)', 'add_sugars_(tsp_eq)',
       'a_drinks_(no._of_drinks)', 'gender', 'age', 'race', 'education',
       'income_ratio', 'income_ratio_qs', 'oz_pbp', 'pf_total_calc',
       'prop_pbp', 'total_cholesterol', 'cholesterol_std_dev',
       'glycohemoglobin', 'blood_lead', 'blood_cadmium', 'blood_mercury',
       'blood_selenium', 'blood_manganese', 'avg_systolic_bp',
       'avg_diastolic_bp', 'serum_ferritin'],
      dtype='object')

In [ ]:
df_biomarkers.to_csv('data/clean/nhanes_2017_2023_clean.csv', index=False)

In [6]:
seqn_cluster= pd.read_csv('data/clean/seqn_cluster.csv')

In [53]:
# Lets merge clusters w/ appropriate biomarkers

df_cluster_bm = pd.merge(df_biomarkers, seqn_cluster, on="SEQN", how="left")
df_cluster_bm.head()
df_cluster_bm4 = df_cluster_bm[['SEQN','cluster','blood_mercury','avg_systolic_bp','avg_diastolic_bp','total_cholesterol']]

df_cluster_bm4.head()

,SEQN,cluster,blood_mercury,avg_systolic_bp,avg_diastolic_bp,total_cholesterol
0,109263,1,NaN,NaN,NaN,NaN
1,109264,1,0.20,108.0,67.000000,166.0
2,109265,3,0.20,NaN,NaN,NaN
3,109266,1,0.36,99.0,54.333333,195.0
4,109269,1,0.20,NaN,NaN,NaN

In [58]:
# Missing Data

#print(df_cluster_bm4.isna().sum())

num_rows_with_na = df_cluster_bm4.isna().any(axis=1).sum()
print(num_rows_with_na)
len(df_cluster_bm4)


# Dataframe with only complete rows

df_cluster_bm_clean = df_cluster_bm4.dropna()

df_cluster_bm_clean.head()
len(df_cluster_bm_clean)

5399

13987

In [60]:
#We have 13,987 rows of complete cases

#working with df_cluster_bm_clean


df_cluster_bm_clean.head()


#Getting Cluster Means



cluster_means = df_cluster_bm_clean.groupby('cluster')[['blood_mercury', 'avg_systolic_bp', 'avg_diastolic_bp', 'total_cholesterol']].mean()

print(cluster_means)

         blood_mercury  avg_systolic_bp  avg_diastolic_bp  total_cholesterol
cluster
0             1.494587       121.829876         73.539683         188.368694
1             0.993208       119.244655         72.414821         177.998464
2             1.765853       121.941055         71.440896         186.979028
3             0.907834       120.449989         71.258538         179.628743